flow.json
[{"id":"8fb7fa03.56a1f8","type":"tab","label":"HOME","disabled":false,"info":""},{"id":"1c43e54b.a9816b","type":"tab","label":"FLOW_EXTENDED_ELEMENTS","disabled":false,"info":" - Erweiterung galleriesteuerung\n - Erweiterung zentrale Heizkörpersteuerung"},{"id":"164e890c.5f70e7","type":"tab","label":"FLOW_POWER","disabled":false,"info":""},{"id":"e30115d2.35f808","type":"tab","label":"FLOW_HEATERS","disabled":false,"info":""},{"id":"d7f47645.9f2b88","type":"tab","label":"FLOW_GALLERY_UP","disabled":false,"info":""},{"id":"f0a36d88.bb853","type":"tab","label":"FLOW_DOOR_WINDOWS_SOUTHSIDE","disabled":false,"info":""},{"id":"b5cc7725.813278","type":"tab","label":"FLOW_ANTEROOM","disabled":false,"info":""},{"id":"55dd1022.0e731","type":"tab","label":"FLOW_WESTSIDE","disabled":false,"info":""},{"id":"efb4e41f.5c3118","type":"tab","label":"FLOW_KITCHEN","disabled":false,"info":""},{"id":"c9aee2e7.c4e8c","type":"tab","label":"FLOW_KIDROOM","disabled":false,"info":""},{"id":"770b00a2.ab1fc","type":"tab","label":"FLOW_GALLERY_DOWN","disabled":false,"info":""},{"id":"afd5bfcd.725fc","type":"tab","label":"FLOW_BOILER","disabled":false,"info":""},{"id":"5b6a6d96.84cd04","type":"tab","label":"GLOBAL","disabled":false,"info":""},{"id":"d98adfe1.02112","type":"subflow","name":"LIGHT WC","info":"","category":"","in":[{"x":226.9999942779541,"y":147.9999942779541,"wires":[{"id":"34918231.41e6ee"}]}],"out":[{"x":1033.999984741211,"y":259.9999942779541,"wires":[{"id":"bdee3f33.64fc2","port":0}]}],"status":{"x":1040,"y":150,"wires":[{"id":"bdee3f33.64fc2","port":0}]}},{"id":"db2b6ad0.eb0a28","type":"subflow","name":"LIGHT_BATH_ALL","info":"","category":"","in":[{"x":202.9999942779541,"y":149.9999942779541,"wires":[{"id":"4c89138c.a14b1c"}]}],"out":[{"x":1123.999984741211,"y":265.9999942779541,"wires":[{"id":"58836f54.6ff32","port":0}]}]},{"id":"fd420cc8.2acc3","type":"subflow","name":"SCENARIOS","info":"","category":"","in":[],"out":[{"x":740,"y":100,"wires":[{"id":"ee3f0df8.2ee72","port":0}]},{"x":740,"y":220,"wires":[{"id":"545c95e2.4e091c","port":0}]}],"status":{"x":740,"y":160,"wires":[{"id":"4ab2f8be.2669e8","port":0}]}},{"id":"c5775567.0277d8","type":"subflow","name":"LIGHT_OUTSIDE","info":"","category":"","in":[{"x":2381.650947570801,"y":375.00568771362305,"wires":[{"id":"9fbf2ff5.f6243"}]}],"out":[{"x":3086.6509590148926,"y":373.0055351257324,"wires":[{"id":"31297917.644ed6","port":0}]}]},{"id":"81828595.f0f548","type":"subflow","name":"LIGHT_WINDOW_LEDGE_EAST","info":"","category":"","in":[{"x":2261.6509552001953,"y":245.00547122955322,"wires":[{"id":"2737ca3a.362ca6"}]}],"out":[{"x":3097.650718688965,"y":253.00562381744385,"wires":[{"id":"a4264a15.bc70e8","port":0}]}]},{"id":"a2f360ac.f69e1","type":"subflow","name":"SUB_ANTEROOM_MAIN_LIGHT","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"2663462e.a5267a"}]}],"out":[{"x":760,"y":60,"wires":[{"id":"3f684215.1419ce","port":0}]}],"status":{"x":760,"y":120,"wires":[{"id":"3f684215.1419ce","port":0}]}},{"id":"49773292.ddaddc","type":"subflow","name":"BOILER","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"7acb9a4.6c18e64"},{"id":"c5f7580e.71ba88"}]}],"out":[{"x":800,"y":160,"wires":[{"id":"39865a45.39ec56","port":0},{"id":"2aa17060.713b2","port":0}]}],"status":{"x":800,"y":40,"wires":[{"id":"39865a45.39ec56","port":0}]}},{"id":"fa87339b.03f96","type":"subflow","name":"FRONTLIGHTS_KITCHEN","info":"","category":"","in":[{"x":120,"y":40,"wires":[{"id":"54de4bb9.559984"}]}],"out":[{"x":780,"y":40,"wires":[{"id":"395b18f5.e72aa8","port":0}]}]},{"id":"d6616de4.78a61","type":"subflow","name":"LIGHT_WINDOW_LEDGE_EAST (2)","info":"","category":"","in":[{"x":2261.6509552001953,"y":245.00547122955322,"wires":[{"id":"6a0a5790.ca0e48"}]}],"out":[{"x":3097.650718688965,"y":253.00562381744385,"wires":[{"id":"7e45754f.7e0e3c","port":0}]}]},{"id":"285ca3f8.d12e7c","type":"subflow","name":"LIGHT_OUTSIDE (2)","info":"","category":"","in":[{"x":2381.650947570801,"y":375.00568771362305,"wires":[{"id":"359fe817.6236a8"}]}],"out":[{"x":3086.6509590148926,"y":373.0055351257324,"wires":[{"id":"f6ce4163.a9505","port":0}]}]},{"id":"83928bef.552b18","type":"subflow","name":"LIGHT_WINDOW_LEDGE_WEST","info":"","category":"","in":[{"x":2647.0143699645996,"y":1225.7326710224152,"wires":[{"id":"fb8f92b4.59535"}]}],"out":[{"x":3444.014190673828,"y":1225.7325947284698,"wires":[{"id":"c32a4a44.1c58d8","port":0}]}]},{"id":"ec781f71.eb223","type":"subflow","name":"LIGHT_KITCHENBOARD_DOWN","info":"","category":"","in":[{"x":2600.0142936706543,"y":1286.6415932178497,"wires":[{"id":"65cce383.1dba6c"}]}],"out":[{"x":3442.0143432617188,"y":1286.6416490077972,"wires":[{"id":"5f02e0cf.ef45c","port":0}]}],"env":[]},{"id":"a1c41326.3b112","type":"subflow","name":"LIGHT_WALL_WEST","info":"","category":"","in":[{"x":2588.014331817627,"y":1342.8234837055206,"wires":[{"id":"9305a954.046918"}]}],"out":[{"x":3363.014217376709,"y":1345.8236410617828,"wires":[{"id":"e6881420.9bc348","port":0}]}]},{"id":"3a1953b6.8f5d3c","type":"subflow","name":"LIGHT_GALLERY_UP_11","info":"","category":"","in":[{"x":630.0158004760742,"y":2542.7267780303955,"wires":[{"id":"23a44516.e96aaa"}]}],"out":[{"x":1460,"y":2560,"wires":[{"id":"1322df9d.1eb32","port":0}]}]},{"id":"bbbfe026.431ed","type":"subflow","name":"LIGHT_GALLERY_UP_10","info":"","category":"","in":[{"x":783.0157699584961,"y":2487.7266550064087,"wires":[{"id":"563c891a.687e38"}]}],"out":[{"x":3777.015579223633,"y":2495.72647857666,"wires":[{"id":"fe9e1f1e.39693","port":0}]}]},{"id":"e24142c8.a0015","type":"subflow","name":"LIGHT_DOOR_ENTRY_LEFT","info":"","category":"","in":[{"x":2582.0143394470215,"y":1410.8237144947052,"wires":[{"id":"17d7f4c5.9d0e9b"}]}],"out":[{"x":3315.0143432617188,"y":1413.8236029148102,"wires":[{"id":"277a23ad.23fd9c","port":0}]}]},{"id":"d477a42.5fa2a58","type":"subflow","name":"LIGHT_TRIANGLE_WEST","info":"","category":"","in":[{"x":2548.014301300049,"y":1479.7328798770905,"wires":[{"id":"3c184e1a.2eea02"}]}],"out":[{"x":3298.5597534179688,"y":1480.7328989505768,"wires":[{"id":"fbc751c1.4e9c4","port":0}]}]},{"id":"bea63159.939a3","type":"subflow","name":"LIGHT_GALLERY_DOWN","info":"","category":"","in":[{"x":2554.014404296875,"y":1559.7328147888184,"wires":[{"id":"1a5487df.7b79e8"}]}],"out":[{"x":3275.44287109375,"y":1545.5899925231934,"wires":[{"id":"f595a29f.8f94c","port":0}]}]},{"id":"d3941f58.7c007","type":"subflow","name":"LIGHT_GALLERY_UP_9","info":"","category":"","in":[{"x":906.0157165527344,"y":2425.726776123047,"wires":[{"id":"fd5d147e.380ea8"}]}],"out":[{"x":3719.015579223633,"y":2452.726414680481,"wires":[{"id":"27bead7f.c18782","port":0}]}]},{"id":"73e171c5.b4f1a","type":"subflow","name":"LIGHT_GALLERY_UP_8","info":"","category":"","in":[{"x":1036.015640258789,"y":2363.726781845093,"wires":[{"id":"a7d096e7.30da18"}]}],"out":[{"x":3683.0155181884766,"y":2411.7264137268066,"wires":[{"id":"65975641.2e4338","port":0}]}]},{"id":"cf601ad6.59b548","type":"subflow","name":"LIGHT_GALLERY_UP","info":"","category":"","in":[{"x":2502.028564453125,"y":1624.0112571716309,"wires":[{"id":"175af3f2.1fe7dc"}]}],"out":[{"x":3238.028564453125,"y":1622.0112571716309,"wires":[{"id":"6b5f0913.b4f328","port":0}]}]},{"id":"900eb2c9.e69eb","type":"subflow","name":"LIGHT_TRIANGLE_UP","info":"","category":"","in":[{"x":2477.265625,"y":1679.2264671325684,"wires":[{"id":"ed6cd322.e4c2e"}]}],"out":[{"x":3213.265625,"y":1674.2264671325684,"wires":[{"id":"3286796a.393a76","port":0}]}]},{"id":"75ab26e2.0fb3d8","type":"subflow","name":"LIGHT_GALLERY_UP_7","info":"","category":"","in":[{"x":1138.0157012939453,"y":2322.7264976501465,"wires":[{"id":"36b2a6f6.64f2ba"}]}],"out":[{"x":3632.0155334472656,"y":2368.726643562317,"wires":[{"id":"e20e0f2a.5f427","port":0}]}]},{"id":"b53d3f4f.3a801","type":"subflow","name":"LIGHT_MAIN_DOOR","info":"","category":"","in":[{"x":2385.0078125,"y":1738.9999046325684,"wires":[{"id":"e6b51a3.f4bcce8"}]}],"out":[{"x":3203.007568359375,"y":1736.9997825622559,"wires":[{"id":"a1fe073a.8464f8","port":0}]}]},{"id":"ccbc1ee4.1b64e","type":"subflow","name":"LIGHT_WINDOW_UP_EAST","info":"","category":"","in":[{"x":2348.229248046875,"y":1798.6986351013184,"wires":[{"id":"d08ffafe.656708"}]}],"out":[{"x":3134.229248046875,"y":1801.6986351013184,"wires":[{"id":"60f26223.a65c6c","port":0}]}]},{"id":"2e3a7112.69beae","type":"subflow","name":"LIGHT_RIGHT_NEXT_DOOR","info":"","category":"","in":[{"x":2317.015625,"y":1839.2264671325684,"wires":[{"id":"22989d4e.ea8dc2"}]}],"out":[{"x":3245.015625,"y":1842.2264671325684,"wires":[{"id":"7422bb68.38b424","port":0}]}]},{"id":"e7fba249.d0cd2","type":"subflow","name":"LIGHT_GALLERY_DOWN_1","info":"","category":"","in":[{"x":2242.765625,"y":1892.2264671325684,"wires":[{"id":"41f6b82f.5773c8"}]}],"out":[{"x":3245.765625,"y":1889.2264671325684,"wires":[{"id":"1d3bfc52.c28fc4","port":0}]}]},{"id":"3acad085.00a8f","type":"subflow","name":"LIGHT_GALLERY_UP_6","info":"","category":"","in":[{"x":1232.0158157348633,"y":2286.7265281677246,"wires":[{"id":"de3686c.d3fea78"}]}],"out":[{"x":3577.0157775878906,"y":2329.726408958435,"wires":[{"id":"419c3a01.6a4f74","port":0}]}]},{"id":"afb09951.9f0598","type":"subflow","name":"LIGHT_GALLERY_UP_5","info":"","category":"","in":[{"x":1354.0156478881836,"y":2242.726587295532,"wires":[{"id":"74390229.ae16ac"}]}],"out":[{"x":3519.0155181884766,"y":2289.7265911102295,"wires":[{"id":"4c2a8755.e49488","port":0}]}]},{"id":"5e0b6f7c.d29e4","type":"subflow","name":"LIGHT_GALLERY_DOWN_2","info":"","category":"","in":[{"x":2245,"y":1951.4764671325684,"wires":[{"id":"13f2c29f.6b5e3d"}]}],"out":[{"x":3282,"y":1939.4764671325684,"wires":[{"id":"b9fd876e.af7ff8","port":0}]}]},{"id":"d7ca492d.d571f8","type":"subflow","name":"LIGHT_GALLERY_DOWN_3","info":"","category":"","in":[{"x":2250.333251953125,"y":2000.8097190856934,"wires":[{"id":"ac88c00d.6318e"}]}],"out":[{"x":3283.333251953125,"y":1995.8097190856934,"wires":[{"id":"9742fe68.0d5a6","port":0}]}]},{"id":"835feb6b.0dd878","type":"subflow","name":"LIGHT_GALLERY_DOWN_4","info":"","category":"","in":[{"x":2255.333251953125,"y":2048.8097190856934,"wires":[{"id":"480d9ab0.942014"}]}],"out":[{"x":3294.333251953125,"y":2045.8097190856934,"wires":[{"id":"419bbf3e.67ccc","port":0}]}]},{"id":"ecd85f94.d37f7","type":"subflow","name":"LIGHT_GALLERY_UP_1","info":"","category":"","in":[{"x":2223,"y":2092.4764671325684,"wires":[{"id":"32d82677.69364a"}]}],"out":[{"x":2936.250045776367,"y":1933.7265934944153,"wires":[{"id":"12846ec4.7d17d1","port":0}]}],"status":{"x":160,"y":30,"wires":[]}},{"id":"ced936b2.c2ca28","type":"subflow","name":"LIGHT_GALLERY_UP_2","info":"","category":"","in":[{"x":1929.0157775878906,"y":2122.7265224456787,"wires":[{"id":"fd52fbba.1ff348"}]}],"out":[{"x":3384.015579223633,"y":2146.726706504822,"wires":[{"id":"34657bb8.32ccb4","port":0}]}]},{"id":"dca47235.8bbbf","type":"subflow","name":"LIGHT_GALLERY_UP_3","info":"","category":"","in":[{"x":1733.015712738037,"y":2164.726493835449,"wires":[{"id":"520c1737.25db38"}]}],"out":[{"x":3466.0155334472656,"y":2189.726873397827,"wires":[{"id":"b98b5fc0.0a74d","port":0}]}]},{"id":"2bcf3ffd.24b1f","type":"subflow","name":"LIGHT_GALLERY_UP_4","info":"","category":"","in":[{"x":1568.0158309936523,"y":2202.726583480835,"wires":[{"id":"f223bc33.56dee"}]}],"out":[{"x":3478.0155181884766,"y":2241.726589202881,"wires":[{"id":"928ba9b2.b453f8","port":0}]}]},{"id":"419c0847.3989f8","type":"subflow","name":"SCENARIOS (2)","info":"","category":"","in":[],"out":[{"x":740,"y":100,"wires":[{"id":"551df71d.3bb6d8","port":0}]},{"x":740,"y":220,"wires":[{"id":"a003ed5d.930ec","port":0}]}],"status":{"x":740,"y":160,"wires":[{"id":"5b879441.c9b1ac","port":0}]}},{"id":"b1a723f3.ae61e","type":"subflow","name":"ANTEROOM_GALLERY_UP","info":"","category":"","in":[{"x":169.9999942779541,"y":128.9999942779541,"wires":[{"id":"abe8d521.1d8008"}]}],"out":[{"x":1076.9999828338623,"y":128.00001049041748,"wires":[{"id":"16619a19.05c3e6","port":0}]}],"status":{"x":1080,"y":40,"wires":[{"id":"16619a19.05c3e6","port":0}]}},{"id":"fe3a1a7e.6fc368","type":"subflow","name":"LIGHT_BATH_ALL (2)","info":"","category":"","in":[{"x":202.9999942779541,"y":149.9999942779541,"wires":[{"id":"838c3a7c.86cac8"}]}],"out":[{"x":1123.999984741211,"y":265.9999942779541,"wires":[{"id":"89fbf838.a22918","port":0}]}]},{"id":"8b0ca45a.371558","type":"subflow","name":"LIGHT WC (2)","info":"","category":"","in":[{"x":226.9999942779541,"y":147.9999942779541,"wires":[{"id":"39b78950.a89946"}]}],"out":[{"x":1033.999984741211,"y":259.9999942779541,"wires":[{"id":"e8fb1f8d.fa34c","port":0}]}],"status":{"x":1040,"y":150,"wires":[{"id":"e8fb1f8d.fa34c","port":0}]}},{"id":"8232c339.0fffc","type":"subflow","name":"LIGHT_ANTEROOM_BACK","info":"Vorhaus Lichter LEDs hinten","category":"","in":[{"x":246.9999942779541,"y":193.9999942779541,"wires":[{"id":"1cc719ee.4446d6"}]}],"out":[{"x":1135.999984741211,"y":299.9999942779541,"wires":[{"id":"b2775758.c6f108","port":0}]}],"env":[],"status":{"x":1138.7500038146973,"y":215,"wires":[{"id":"b2775758.c6f108","port":0}]}},{"id":"b3155d06.fed5a","type":"subflow","name":"SUB_HEATERWEST","info":"Heizkörper im Westen - Ansteuerung","category":"","in":[{"x":70,"y":117,"wires":[{"id":"6cc27185.780e1"}]}],"out":[{"x":913,"y":111,"wires":[{"id":"93d87c9b.46918","port":0}]}],"env":[],"status":{"x":796,"y":25,"wires":[{"id":"93d87c9b.46918","port":0}]}},{"id":"2a932962.bf97d6","type":"subflow","name":"SUB_HEATEREAST","info":"Heizkörper osten","category":"","in":[{"x":168,"y":89,"wires":[{"id":"322fcd9b.394e82"}]}],"out":[{"x":945,"y":101,"wires":[{"id":"6fd36f9c.d9496","port":0}]}],"env":[],"status":{"x":933,"y":35,"wires":[{"id":"6fd36f9c.d9496","port":0}]}},{"id":"e9402b86.634e28","type":"subflow","name":"SUB_LIGHT_ANTEROOM_MIDDLE","info":"","category":"","in":[{"x":10,"y":80,"wires":[{"id":"ca55ee0d.543b9"}]}],"out":[{"x":783.0002517700195,"y":80,"wires":[{"id":"7f8582c9.4aeb6c","port":0}]}],"env":[],"status":{"x":792.9999980926514,"y":154.99999809265137,"wires":[{"id":"7f8582c9.4aeb6c","port":0}]}},{"id":"95a43197.693f7","type":"subflow","name":"SUB_HEATER_BATHROOM","info":"","category":"","in":[{"x":420,"y":120,"wires":[{"id":"ec437cb3.3a51d"}]}],"out":[{"x":920,"y":160,"wires":[{"id":"d10acfee.6791f","port":0}]}],"env":[],"status":{"x":920,"y":80,"wires":[{"id":"d10acfee.6791f","port":0}]}},{"id":"c7de3ae.a942cc8","type":"subflow","name":"SUB_FLOW_BOILER","info":"","category":"","in":[{"x":320,"y":100,"wires":[{"id":"ef2269ec.63a048"}]}],"out":[{"x":640,"y":60,"wires":[{"id":"ef2269ec.63a048","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":640,"y":140,"wires":[{"id":"ef2269ec.63a048","port":0}]}},{"id":"7ba6ef0f.3e7ef","type":"subflow","name":"FLOW_PLUG_IR","info":"","category":"","in":[{"x":100,"y":280,"wires":[{"id":"7f13db1e.df1894"}]}],"out":[{"x":1040,"y":140,"wires":[{"id":"e2e45183.d5b45","port":0},{"id":"89df2f5a.22307","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1040,"y":60,"wires":[{"id":"e2e45183.d5b45","port":0},{"id":"663083c8.8e3b9c","port":0}]}},{"id":"79bdf644.6d7b28","type":"subflow","name":"LIGHT_KID_CEILING","info":"","category":"","in":[{"x":180,"y":140,"wires":[{"id":"7590bbf.3d0db44"}]}],"out":[{"x":900,"y":140,"wires":[{"id":"cac1c177.82971","port":0}]}],"env":[],"status":{"x":900,"y":200,"wires":[{"id":"cac1c177.82971","port":0}]}},{"id":"defe16cd.5fa118","type":"subflow","name":"LIGHT_KID_RIGHT","info":"","category":"","in":[{"x":180,"y":60,"wires":[{"id":"46a2984e.47fc98"}]}],"out":[{"x":920,"y":60,"wires":[{"id":"91abe066.733d2","port":0}]}],"env":[],"status":{"x":920,"y":120,"wires":[{"id":"91abe066.733d2","port":0}]}},{"id":"487547dd.8572a8","type":"subflow","name":"LIGHT_KID_3","info":"","category":"","in":[{"x":100,"y":60,"wires":[{"id":"2c319f7c.5fead"}]}],"out":[{"x":840,"y":60,"wires":[{"id":"46f88daf.631974","port":0}]}],"env":[],"status":{"x":840,"y":120,"wires":[{"id":"46f88daf.631974","port":0}]}},{"id":"ba35875e.c75fc8","type":"subflow","name":"LIGHT_KID_4","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"14c7cdb7.c2de02"}]}],"out":[{"x":720,"y":40,"wires":[{"id":"57956c4f.fc9f54","port":0}]}],"env":[],"status":{"x":720,"y":100,"wires":[{"id":"57956c4f.fc9f54","port":0}]}},{"id":"fa85105d.7c6bb","type":"subflow","name":"LIGHT_KID_5","info":"","category":"","in":[{"x":100,"y":60,"wires":[{"id":"12031a4.89149e6"}]}],"out":[{"x":760,"y":60,"wires":[{"id":"99d56788.ab6c18","port":0}]}],"env":[],"status":{"x":760,"y":120,"wires":[{"id":"99d56788.ab6c18","port":0}]}},{"id":"96b7f098.0831d","type":"subflow","name":"HEATER_KID_ROOM","info":"","category":"","in":[{"x":120,"y":40,"wires":[{"id":"13530757.8cc259"}]}],"out":[{"x":640,"y":40,"wires":[{"id":"6708a372.df164c","port":0}]}],"env":[],"status":{"x":640,"y":100,"wires":[{"id":"6708a372.df164c","port":0}]}},{"id":"dacdedf6.b18b6","type":"subflow","name":"SUB_ANTROOM_MIDDLE_OFF","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"c5c10277.16e8"}]}],"out":[{"x":400,"y":80,"wires":[{"id":"c5c10277.16e8","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":400,"y":140,"wires":[{"id":"c5c10277.16e8","port":0}]}},{"id":"e3b59009.d7bf7","type":"subflow","name":"SUB_ANTEROOM_MIDDLE_ON","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"4970759e.69262c"}]}],"out":[{"x":440,"y":80,"wires":[{"id":"4970759e.69262c","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":440,"y":140,"wires":[{"id":"4970759e.69262c","port":0}]}},{"id":"8321762.4b90f88","type":"subflow","name":"SUB_LIGHT_MIDDLE","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"d1342ebb.390a4"},{"id":"162082c.2cfb47d"}]}],"out":[{"x":420,"y":100,"wires":[{"id":"d1342ebb.390a4","port":0},{"id":"162082c.2cfb47d","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":400,"y":160,"wires":[{"id":"d1342ebb.390a4","port":0},{"id":"162082c.2cfb47d","port":0}]}},{"id":"c5e2b04.48cf25","type":"group","z":"8fb7fa03.56a1f8","name":"","style":{"fill":"#ff7f7f","label":true},"nodes":["a3ab533b.5fb43","e06028f4.ba7938"],"x":1914,"y":39,"w":362,"h":82},{"id":"ba39a2e6.c1cb8","type":"group","z":"8fb7fa03.56a1f8","name":"SCENARIOCONTROL","style":{"fill":"#ffffbf","label":true},"nodes":["b18750e5.cf0cc","9d84bc20.ba711","24dfd1b7.2b083e","ba3d0df2.d36cf"],"x":1434,"y":379,"w":322,"h":202},{"id":"87929ff2.5e47f","type":"group","z":"1c43e54b.a9816b","name":"GALLERYCONTROL","style":{"fill":"#ffffbf","fill-opacity":"0.5","label":true},"nodes":["4e5a8b3.2d62f74","a8bff518.b3def8","b35f4277.76882"],"x":374,"y":39},{"id":"a192e738.d1f6c8","type":"group","z":"e30115d2.35f808","name":"HEATERCONTROL BATHROOM","style":{"fill":"#ffdf7f","fill-opacity":"0.3","label":true},"nodes":["cb6a3c5.ada27c","658f530b.33edac","397aed6.593d812","85599bc6.fd5088","b7df5c2a.ad7c7"],"x":34,"y":39},{"id":"54b426e6.13e5d8","type":"group","z":"d7f47645.9f2b88","name":"GALLERY","style":{"fill":"#ffff7f","label":true},"nodes":["cfba18aa.ccb0d8","ac182557.3ff4b8","7e5fba3c.7d0cb4","53536502.d5d33c","73bb6abd.fb8ab4","b6a8b72c.caa938","68f7ef5c.5fa8e","9ddba287.6b4fe","bca9dfe.c18a82","cad444b9.bf8d48","6f39d55c.df9f6c","5f46e7f5.f70308","827de71.a9c2018","4fc53d20.63b894","c26a3d34.e4771"],"x":134,"y":8.107234954833984},{"id":"b42b6082.678c5","type":"group","z":"8fb7fa03.56a1f8","name":"","style":{"fill":"#d1d1d1","fill-opacity":"0.2","label":true},"nodes":["ec753e2c.b6547","63846fcb.30aec","4118742d.b1b3bc","17fc5c8a.54a2a3","d2d90ad3.bf4058","5e751f82.64473","63ddc00a.ddf3a","f1ce07a3.6e99c8","929b81a1.ccb23","30c82117.c2331e"],"x":2074,"y":619,"w":82,"h":442},{"id":"38fecdb1.8af892","type":"group","z":"afd5bfcd.725fc","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f99dd7c7.ef7988","2a09cfc7.8eb13","e8e52e76.f9da3"],"x":254,"y":79},{"id":"8b34709.c4a569","type":"group","z":"164e890c.5f70e7","name":"PLUGCONTROL_INFRAREDHEATER","style":{"fill":"#ffbfbf","fill-opacity":"0.5","label":true},"nodes":["f8bae1d0.e03c5","29ec632.7e5819c","469cd9b5.a3d338"],"x":134,"y":119},{"id":"662dcaad.5a8294","type":"group","z":"770b00a2.ab1fc","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2304225f.50fc4e","e082c321.0587a","8b2afc91.cdcd2","fd48fd2d.c4a5d","181642dd.d0da8d","efb61c15.e1ec7","6e840732.d9c018"],"x":454,"y":19},{"id":"d1394b7f.7ea9c8","type":"group","z":"c9aee2e7.c4e8c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["630f535d.ccef5c","7319e64f.3fb548","5367c22f.10961c","d70f5400.358018","88a17dc5.48137","49302415.7c185c","df0bf290.1ec5c","5fcbf857.c100b8","3076211d.8b877e"],"x":394,"y":19},{"id":"5d6f01d5.9a487","type":"group","z":"efb4e41f.5c3118","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5ce580f5.971e5","5650df2c.d8eff","8ea74508.9597e8","a387a5d1.116ec8"],"x":339,"y":19},{"id":"3c37a361.87283c","type":"group","z":"8fb7fa03.56a1f8","name":"","style":{"fill":"#d1d1d1","fill-opacity":"0.2","label":true},"nodes":["20740097.65704","a4985884.e72798","d7e0bf71.e5ab8","a43844fc.d66af8","c57abe3b.5515c","374ff8a6.fbd4e8","2cb0015b.d805ee"],"x":1274,"y":399,"w":82,"h":382},{"id":"95d357e9.81b898","type":"group","z":"8fb7fa03.56a1f8","name":"","style":{"fill":"#c8e7a7","label":true},"nodes":["80d2648e.995e98","494c5732.c2dd48","8a0b2c59.40781","17bd163c.7de5aa","28cf5a8.7d8afa6"],"x":1524,"y":59,"w":362,"h":282},{"id":"22a8b717.7585d8","type":"group","z":"8fb7fa03.56a1f8","name":"","style":{"fill":"#e3f3d3","label":true},"nodes":["53af1a19.216594","e56c2eaa.3e707","e81e60c.1c651a","7cd80ba3.263324"],"x":674,"y":119,"w":327,"h":382},{"id":"676c6da0.c84164","type":"group","z":"8fb7fa03.56a1f8","name":"","style":{"fill":"#e3f3d3","label":true},"nodes":["804a03cd.753b9","628ff963.7282c8"],"x":974,"y":699,"w":232,"h":242},{"id":"ca06671f.bb3838","type":"group","z":"f0a36d88.bb853","name":"LIGHTGROUP NEAR DOOR","style":{"fill":"#ffffbf","label":true},"nodes":["6f67a64d.40e988","25c12e18.581572","f0764b75.b15698","9b202a9d.932a08","eb94cb01.99a9f8","84aa85e8.b80d98","47c9c231.07101c","12ba95a6.ae65fa"],"x":434,"y":119},{"id":"1c135763.d60359","type":"group","z":"b5cc7725.813278","name":"LIGHTCONTROL_ANTEROOM","style":{"fill":"#ffefbf","label":true},"nodes":["8ad874a1.9ff688","44bc5b14.1659f4","4fa8cb04.495e54","14ae26ab.f9a839","afbe7d6b.73a33","acebd0f9.ce50b","8ce4beba.2137"],"x":234,"y":79},{"id":"1593bce7.7e9fb3","type":"ui_group","z":"","name":"LICHTER","tab":"f842facc.ccc5a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f842facc.ccc5a8","type":"ui_tab","z":"","name":"WC","icon":"dashboard","order":7},{"id":"51a88d79.a1d274","type":"ui_group","z":"","name":"LICHTER","tab":"94eb9e7a.6e8eb","order":1,"disp":true,"width":"6","collapse":false},{"id":"94eb9e7a.6e8eb","type":"ui_tab","z":"","name":"BAD","icon":"dashboard","order":6},{"id":"7a2ce37f.64f90c","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"6b545d17.ba2f24","order":1,"disp":true,"width":"6"},{"id":"347967b6.486228","type":"ui_group","z":"","name":"WOHNZIMMER","tab":"10eeda03.b403a6","order":1,"disp":true,"width":"6","collapse":true},{"id":"d4bf8b35.ff9228","type":"ui_group","z":"","name":"FENSTERBANK","tab":"10eeda03.b403a6","order":6,"disp":true,"width":"6","collapse":true},{"id":"6b545d17.ba2f24","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard"},{"id":"10eeda03.b403a6","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":2},{"id":"f287d90d.b4b658","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"","disp":true,"width":"6","collapse":false},{"id":"c5b91845.0a0988","type":"ui_group","z":"","name":"KÜCHE","tab":"76723830.e7a428","order":1,"disp":true,"width":"6"},{"id":"9523e7d.d076f18","type":"ui_group","z":"","name":"FENSTERBANK","tab":"","order":6,"disp":true,"width":"6"},{"id":"15b451b3.a86f9e","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"","order":2,"disp":true,"width":"6"},{"id":"6fe3b0e6.9bbf","type":"ui_group","z":"","name":"GALLERIE","tab":"","order":3,"disp":true,"width":"6"},{"id":"83bbb3f4.55237","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"","order":5,"disp":true,"width":"6"},{"id":"1ba0fbf0.d57ce4","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"","order":4,"disp":true,"width":"6"},{"id":"75fdffdc.57f99","type":"ui_group","z":"","name":"VORHAUS","tab":"d877fdb8.17ff","order":1,"disp":true,"width":"6","collapse":false},{"id":"76723830.e7a428","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":3},{"id":"d877fdb8.17ff","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":4},{"id":"1b53316b.91f47f","type":"ui_base","z":"","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"656f014d.31e9","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"ae92fd56.ad577","order":1,"disp":true,"width":"6"},{"id":"38c0688e.c00ee8","type":"ui_group","z":"","name":"KÜCHE","tab":"5be9ec5d.517424","order":1,"disp":true,"width":"6"},{"id":"926587a0.031b78","type":"ui_group","z":"","name":"FENSTERBANK","tab":"cc5ae472.76c4b8","order":6,"disp":true,"width":"6","collapse":true},{"id":"f19074b6.7a0d28","type":"ui_group","z":"","name":"WOHNZIMMER","tab":"cc5ae472.76c4b8","order":1,"disp":true,"width":"6","collapse":true},{"id":"9ad5b9f2.a62078","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"cc5ae472.76c4b8","order":2,"disp":true,"width":"6","collapse":true},{"id":"7fa0ca2a.4ac504","type":"ui_group","z":"","name":"GALLERIE","tab":"cc5ae472.76c4b8","order":3,"disp":true,"width":"6","collapse":true},{"id":"de928e77.f08b8","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"cc5ae472.76c4b8","order":5,"disp":true,"width":"6","collapse":true},{"id":"db2d84f4.63f278","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"cc5ae472.76c4b8","order":4,"disp":true,"width":"6","collapse":true},{"id":"ae92fd56.ad577","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard"},{"id":"5be9ec5d.517424","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":3},{"id":"cc5ae472.76c4b8","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":2},{"id":"d503ce85.8c16b","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":4},{"id":"512ec691.9e9328","type":"ui_group","z":"","name":"VORHAUS","tab":"d503ce85.8c16b","order":1,"disp":true,"width":"6","collapse":false},{"id":"d50cbaa2.6ed4a8","type":"ui_tab","z":"","name":"OBEN","icon":"dashboard","order":5},{"id":"dee07cb5.a5a4c","type":"ui_group","z":"","name":"BODEN","tab":"d50cbaa2.6ed4a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e3424bd1.79cdb8","type":"ui_tab","z":"","name":"BAD","icon":"dashboard","order":6},{"id":"b79a8914.b9a6a8","type":"ui_group","z":"","name":"LICHTER","tab":"e3424bd1.79cdb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5f013018.54aff","type":"ui_tab","z":"","name":"WC","icon":"dashboard","order":7},{"id":"7ca00528.faf0dc","type":"ui_group","z":"","name":"LICHTER","tab":"5f013018.54aff","order":1,"disp":true,"width":"6","collapse":false},{"id":"779d08a9.00bba8","type":"ui_group","z":"","name":"LUEFTER","tab":"5f013018.54aff","order":2,"disp":true,"width":"6","collapse":false},{"id":"f9574de4.db347","type":"ui_group","z":"","name":"Lichter","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"7ba507eb.6266e8","type":"ui_group","z":"","name":"Heizung","tab":"e3424bd1.79cdb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"792d71f8.45c7c","type":"ui_group","z":"","name":"Heizkörper","tab":"d503ce85.8c16b","order":2,"disp":true,"width":"6","collapse":false},{"id":"edc4f7de.ab3c38","type":"ui_tab","z":"","name":"KINDERZIMMER","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"fafb137.7d4aef","type":"ui_group","z":"","name":"LICHTER","tab":"edc4f7de.ab3c38","order":1,"disp":true,"width":"6","collapse":true},{"id":"36548ba9.492454","type":"ui_group","z":"","name":"HEIZUNG","tab":"edc4f7de.ab3c38","order":2,"disp":true,"width":"6","collapse":true},{"id":"f9a7ad80.bf702","type":"ui_group","z":"","name":"hidden_group","tab":"cdba3804.c53998","order":1,"disp":false,"width":"6","collapse":false},{"id":"cdba3804.c53998","type":"ui_tab","z":"","name":"Zooland Sys","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"5a2b94dd.120b2c","type":"ui_group","z":"","name":"hidden_group","tab":"296ca3dd.b881bc","order":1,"disp":false,"width":"6","collapse":false},{"id":"296ca3dd.b881bc","type":"ui_tab","z":"","name":"Zooland Sys","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"34918231.41e6ee","type":"ui_switch","z":"d98adfe1.02112","name":"WC  ALLE LICHTER","label":"Alle Lichter","group":"1593bce7.7e9fb3","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WC","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":415.0173645019531,"y":155.01040649414062,"wires":[["bdee3f33.64fc2"]]},{"id":"bdee3f33.64fc2","type":"function","z":"d98adfe1.02112","name":"LIGHT COMMAND WC ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WASHROOM-ON\";\nvar ResultOff = \"TURN-LIGHT-WASHROOM-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":839.1462059020996,"y":261.9093933105469,"wires":[[]]},{"id":"4c89138c.a14b1c","type":"ui_switch","z":"db2b6ad0.eb0a28","name":"BAD ALLE LICHTER","label":"Alle Lichter","group":"51a88d79.a1d274","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"BAD","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":444.0173645019531,"y":170.01040649414062,"wires":[["58836f54.6ff32"]]},{"id":"58836f54.6ff32","type":"function","z":"db2b6ad0.eb0a28","name":"LIGHT COMMAND BATHROOM ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-BATHROOM-ALL-ON\";\nvar ResultOff = \"TURN-LIGHT-BATHROOM-ALL-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":898.1462059020996,"y":276.9093933105469,"wires":[[]]},{"id":"4ab2f8be.2669e8","type":"ui_dropdown","z":"fd420cc8.2acc3","name":"SCENARIOS","label":"SCENARIOS","tooltip":"","place":"Select option","group":"7a2ce37f.64f90c","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"NONE","value":"NONE","type":"str"},{"label":"DIMM","value":"DIMM","type":"str"},{"label":"ADVENTURE","value":"ADVENTURE","type":"str"}],"payload":"","topic":"","x":210,"y":160,"wires":[["ee3f0df8.2ee72","545c95e2.4e091c"]]},{"id":"ee3f0df8.2ee72","type":"function","z":"fd420cc8.2acc3","name":"MAKE_DIMM","func":"var result;\nvar ToCompare = \"DIMM\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[[]]},{"id":"545c95e2.4e091c","type":"function","z":"fd420cc8.2acc3","name":"MAKE_ADVENTURE","func":"var result;\nvar ToCompare = \"ADVENTURE\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[[]]},{"id":"31297917.644ed6","type":"function","z":"c5775567.0277d8","name":"LIGHT OUTSIDE COMMAND","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-OUTSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-OUTSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2876.6509590148926,"y":373.0055351257324,"wires":[[]]},{"id":"9fbf2ff5.f6243","type":"ui_switch","z":"c5775567.0277d8","name":"LIGHT OUTSIDE","label":"AUSSENLICHT","group":"7a2ce37f.64f90c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2551.650947570801,"y":375.00568771362305,"wires":[["31297917.644ed6"]]},{"id":"a4264a15.bc70e8","type":"function","z":"81828595.f0f548","name":"WINDOW LEDGE EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-EAST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2867.650718688965,"y":253.00562381744385,"wires":[[]]},{"id":"2737ca3a.362ca6","type":"ui_switch","z":"81828595.f0f548","name":"WINDOW LEDGE EAST","label":"FENSTERBANK OSTEN","group":"d4bf8b35.ff9228","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2451.6509552001953,"y":245.00547122955322,"wires":[["a4264a15.bc70e8"]]},{"id":"7acb9a4.6c18e64","type":"ui_switch","z":"49773292.ddaddc","name":"BOILER","label":"WARMWASSER","tooltip":"","group":"656f014d.31e9","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":40,"wires":[["39865a45.39ec56","7c24fca2.f113c4"]]},{"id":"39865a45.39ec56","type":"function","z":"49773292.ddaddc","name":"BOILER COMMAND","func":"var result;\nvar ResultOn  = \"TURN-BOILER-ON\";\nvar ResultOff = \"TURN-BOILER-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":544.4282112121582,"y":41.28568363189697,"wires":[[]]},{"id":"a3ab533b.5fb43","type":"catch","z":"8fb7fa03.56a1f8","g":"c5e2b04.48cf25","name":"","scope":["53af1a19.216594","628ff963.7282c8","c06b7c90.f01f5","db8e698b.1cb928","43d49232.6f44ec","804a03cd.753b9","20740097.65704","1f9d4fc2.e1a9d","b34385ec.2753b8","28cf5a8.7d8afa6","e28b5401.036348","17bd163c.7de5aa","9e0ccec8.e35c6","5737bf6d.7d04a","e6f223c4.c9985","b94246db.6df208","503782ee.c533dc","8a0b2c59.40781","cf07f1e5.e232e","53785039.61b07","acaaec64.f30f4","8ac35003.bac8d","494c5732.c2dd48","32239554.bd7f4a","6de8f093.c6407","a4985884.e72798","4118742d.b1b3bc","d7e0bf71.e5ab8","17fc5c8a.54a2a3","63846fcb.30aec","ec753e2c.b6547","db817ee0.d6c88","e56c2eaa.3e707","b18750e5.cf0cc","f5547ea4.3e666","e06028f4.ba7938","e7efa5e.6e36958","80d2648e.995e98"],"uncaught":false,"x":2000,"y":80,"wires":[["e06028f4.ba7938"]]},{"id":"e06028f4.ba7938","type":"ui_toast","z":"8fb7fa03.56a1f8","g":"c5e2b04.48cf25","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":2160,"y":80,"wires":[]},{"id":"395b18f5.e72aa8","type":"function","z":"fa87339b.03f96","name":"FRONT LIGHT COMMAND","func":"var result;\nvar ResultOn  = \"TURN-FRONT-LIGHTS-ON\";\nvar ResultOff = \"TURN-FRONT-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":40,"wires":[[]]},{"id":"7e45754f.7e0e3c","type":"function","z":"d6616de4.78a61","name":"WINDOW LEDGE EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-EAST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2867.650718688965,"y":253.00562381744385,"wires":[[]]},{"id":"f6ce4163.a9505","type":"function","z":"285ca3f8.d12e7c","name":"LIGHT OUTSIDE COMMAND","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-OUTSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-OUTSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2876.6509590148926,"y":373.0055351257324,"wires":[[]]},{"id":"54de4bb9.559984","type":"ui_switch","z":"fa87339b.03f96","name":"FRONTLIGHTS KITCHEN","label":"VORDERLICHTER KÜCHE","group":"38c0688e.c00ee8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":40,"wires":[["395b18f5.e72aa8"]]},{"id":"6a0a5790.ca0e48","type":"ui_switch","z":"d6616de4.78a61","name":"WINDOW LEDGE EAST","label":"FENSTERBANK OSTEN","group":"926587a0.031b78","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2451.6509552001953,"y":245.00547122955322,"wires":[["7e45754f.7e0e3c"]]},{"id":"359fe817.6236a8","type":"ui_switch","z":"285ca3f8.d12e7c","name":"LIGHT OUTSIDE","label":"AUSSENLICHT","group":"656f014d.31e9","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2551.650947570801,"y":375.00568771362305,"wires":[["f6ce4163.a9505"]]},{"id":"53af1a19.216594","type":"ui_switch","z":"8fb7fa03.56a1f8","g":"22a8b717.7585d8","name":"ALL LIGHTS","label":"ALLE LICHTER ","tooltip":"","group":"656f014d.31e9","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":320,"wires":[["804a03cd.753b9","628ff963.7282c8","80d2648e.995e98","8a0b2c59.40781","17bd163c.7de5aa","28cf5a8.7d8afa6","a4985884.e72798","d7e0bf71.e5ab8","e81e60c.1c651a","c57abe3b.5515c","374ff8a6.fbd4e8","2cb0015b.d805ee","7cd80ba3.263324"]]},{"id":"804a03cd.753b9","type":"function","z":"8fb7fa03.56a1f8","g":"676c6da0.c84164","name":"COMMAND ALL","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":900,"wires":[["432135f6.a27a1c"]]},{"id":"628ff963.7282c8","type":"ui_switch","z":"8fb7fa03.56a1f8","g":"676c6da0.c84164","name":"ALL LIGHTS WEST","label":"ALLE LICHTER WESTEN","group":"f19074b6.7a0d28","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1090,"y":740,"wires":[["a43844fc.d66af8"]]},{"id":"c32a4a44.1c58d8","type":"function","z":"83928bef.552b18","name":"LIGHT COMMAND WINDOW LEDGE WEST","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-WEST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3194.014190673828,"y":1225.7325947284698,"wires":[[]]},{"id":"fb8f92b4.59535","type":"ui_switch","z":"83928bef.552b18","name":"WINDOW LEDGE WEST","label":"FENSTERBANK WESTEN","group":"926587a0.031b78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2837.0143699645996,"y":1225.7326710224152,"wires":[["c32a4a44.1c58d8"]]},{"id":"5f02e0cf.ef45c","type":"function","z":"ec781f71.eb223","name":"LIGHT COMMAND KITCHEN BOARD DOWN","func":"var result;\nvar ResultOn  = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-ON\";\nvar ResultOff = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3182.0143432617188,"y":1286.6416490077972,"wires":[[]]},{"id":"65cce383.1dba6c","type":"ui_switch","z":"ec781f71.eb223","name":"LIGHT KITCHENBOARD DOWN","label":"ARBEITSPLATTE KÜCHE UNTEN","group":"38c0688e.c00ee8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2820.0142936706543,"y":1286.6415932178497,"wires":[["5f02e0cf.ef45c"]]},{"id":"9305a954.046918","type":"ui_switch","z":"a1c41326.3b112","name":"WALL LIGHT WEST","label":"WANDLEUCHTE WESTEN","group":"f19074b6.7a0d28","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2768.014331817627,"y":1342.8234837055206,"wires":[["e6881420.9bc348"]]},{"id":"e6881420.9bc348","type":"function","z":"a1c41326.3b112","name":"LIGHT COMMAND WALL WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHTS-WALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHTS-WALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3143.014217376709,"y":1345.8236410617828,"wires":[[]]},{"id":"17d7f4c5.9d0e9b","type":"ui_switch","z":"e24142c8.a0015","name":"LIGHT DOOR ENTRY LEFT","label":"BALKEN TÜR LINKS","group":"9ad5b9f2.a62078","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2782.0143394470215,"y":1410.8237144947052,"wires":[["277a23ad.23fd9c"]]},{"id":"277a23ad.23fd9c","type":"function","z":"e24142c8.a0015","name":"LIGHT DOOR ENTRY LEFT","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-ON\";\nvar ResultOff = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3115.0143432617188,"y":1413.8236029148102,"wires":[[]]},{"id":"3c184e1a.2eea02","type":"ui_switch","z":"d477a42.5fa2a58","name":"WINDOW TRIANGLE WEST","label":"DREIECKFENSTER OBEN WEST","group":"9ad5b9f2.a62078","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2748.014301300049,"y":1479.7328798770905,"wires":[["fbc751c1.4e9c4"]]},{"id":"fbc751c1.4e9c4","type":"function","z":"d477a42.5fa2a58","name":"LIGHT TRIANGLE WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3108.5597534179688,"y":1480.7328989505768,"wires":[[]]},{"id":"80d2648e.995e98","type":"ui_switch","z":"8fb7fa03.56a1f8","g":"95d357e9.81b898","name":"WINDOW LEDGE EAST AND WEST","label":"FENSTERBANK OSTEN UND WESTEN","group":"926587a0.031b78","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1710,"y":200,"wires":[["494c5732.c2dd48"]]},{"id":"5b879441.c9b1ac","type":"ui_dropdown","z":"419c0847.3989f8","name":"SCENARIOS","label":"SCENARIOS","tooltip":"","place":"Select option","group":"656f014d.31e9","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"NONE","value":"NONE","type":"str"},{"label":"DIMM","value":"DIMM","type":"str"},{"label":"ADVENTURE","value":"ADVENTURE","type":"str"}],"payload":"","topic":"","x":210,"y":160,"wires":[["551df71d.3bb6d8","a003ed5d.930ec"]]},{"id":"551df71d.3bb6d8","type":"function","z":"419c0847.3989f8","name":"MAKE_DIMM","func":"var result;\nvar ToCompare = \"DIMM\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[[]]},{"id":"a003ed5d.930ec","type":"function","z":"419c0847.3989f8","name":"MAKE_ADVENTURE","func":"var result;\nvar ToCompare = \"ADVENTURE\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[[]]},{"id":"1a5487df.7b79e8","type":"ui_switch","z":"bea63159.939a3","name":"GALLERY DOWN","label":"LEUCHTEN NACH UNTEN","group":"7fa0ca2a.4ac504","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2724.014404296875,"y":1559.7328147888184,"wires":[["f595a29f.8f94c"]]},{"id":"f595a29f.8f94c","type":"function","z":"bea63159.939a3","name":"LIGHT COMMAND GALLERY DOWN","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3045.44287109375,"y":1545.5899925231934,"wires":[[]]},{"id":"175af3f2.1fe7dc","type":"ui_switch","z":"cf601ad6.59b548","name":"GALLERY UP","label":"LEUCHTEN NACH OBEN","group":"7fa0ca2a.4ac504","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2662.028564453125,"y":1624.0112571716309,"wires":[["6b5f0913.b4f328"]]},{"id":"6b5f0913.b4f328","type":"function","z":"cf601ad6.59b548","name":"LIGHT_ COMMAND_GALLERY_UP","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP-ON\";\nvar ResultOff = \"TURN-GALLERY-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3008.028564453125,"y":1622.0112571716309,"wires":[[]]},{"id":"ed6cd322.e4c2e","type":"ui_switch","z":"900eb2c9.e69eb","name":"TRIANGLE UP","label":"LICHT DREIECK OBEN","group":"7fa0ca2a.4ac504","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2637.265625,"y":1679.2264671325684,"wires":[["3286796a.393a76"]]},{"id":"3286796a.393a76","type":"function","z":"900eb2c9.e69eb","name":"LIGHT COMMAND TRIANGLE UP","func":"var result;\nvar ResultOn  = \"TURN-TRIANAGLE-UPSTAIRS-ON\";\nvar ResultOff = \"TURN-TRIANAGLE-UPSTAIRS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2993.265625,"y":1674.2264671325684,"wires":[[]]},{"id":"e6b51a3.f4bcce8","type":"ui_switch","z":"b53d3f4f.3a801","name":"LIGHTBAR MAIN DOOR","label":"LICHT ÜBER TÜR","group":"9ad5b9f2.a62078","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2575.0078125,"y":1738.9999046325684,"wires":[["a1fe073a.8464f8"]]},{"id":"a1fe073a.8464f8","type":"function","z":"b53d3f4f.3a801","name":"LIGHT COMMAND DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2983.007568359375,"y":1736.9997825622559,"wires":[[]]},{"id":"d08ffafe.656708","type":"ui_switch","z":"ccbc1ee4.1b64e","name":"LIGHT WINDOW UP EAST","label":"LICHT FENSTER OBEN OSTEN","group":"f19074b6.7a0d28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2548.229248046875,"y":1798.6986351013184,"wires":[["60f26223.a65c6c"]]},{"id":"60f26223.a65c6c","type":"function","z":"ccbc1ee4.1b64e","name":"LIGHT_WINDOW_UP_EAST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2934.229248046875,"y":1801.6986351013184,"wires":[[]]},{"id":"e56c2eaa.3e707","type":"ui_button","z":"8fb7fa03.56a1f8","g":"22a8b717.7585d8","name":"RESET","group":"656f014d.31e9","order":8,"width":0,"height":0,"passthru":false,"label":"ALLE LICHTER  AUS","tooltip":"","color":"","bgcolor":"","icon":"fa-2x fa-lightbulb-o","payload":"false","payloadType":"bool","topic":"","x":760,"y":460,"wires":[["53af1a19.216594","804a03cd.753b9","80d2648e.995e98","628ff963.7282c8","494c5732.c2dd48","8a0b2c59.40781","17bd163c.7de5aa","28cf5a8.7d8afa6","a4985884.e72798","d7e0bf71.e5ab8","e81e60c.1c651a","c57abe3b.5515c","374ff8a6.fbd4e8","2cb0015b.d805ee"]]},{"id":"22989d4e.ea8dc2","type":"ui_switch","z":"2e3a7112.69beae","name":"LIGHT WINDOW BESIDE DOOR RIGHT","label":"LICHT FENSTER NEBEN TÜRE RECHTS","group":"9ad5b9f2.a62078","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2557.015625,"y":1839.2264671325684,"wires":[["7422bb68.38b424"]]},{"id":"7422bb68.38b424","type":"function","z":"2e3a7112.69beae","name":"LIGHT COMMAND INDOW BESIDE DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2975.015625,"y":1842.2264671325684,"wires":[[]]},{"id":"41f6b82f.5773c8","type":"ui_switch","z":"e7fba249.d0cd2","name":"GALLERY DOWN 1","label":"LEUCHTEN UNTEN 1","group":"de928e77.f08b8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2422.765625,"y":1892.2264671325684,"wires":[["1d3bfc52.c28fc4"]]},{"id":"1d3bfc52.c28fc4","type":"function","z":"e7fba249.d0cd2","name":"LIGHT COMMAND GALLERY DOWN 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-1-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3005.765625,"y":1889.2264671325684,"wires":[[]]},{"id":"13f2c29f.6b5e3d","type":"ui_switch","z":"5e0b6f7c.d29e4","name":"GALLERY DOWN 2","label":"LEUCHTEN UNTEN 2","group":"de928e77.f08b8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2425,"y":1951.4764671325684,"wires":[["b9fd876e.af7ff8"]]},{"id":"b9fd876e.af7ff8","type":"function","z":"5e0b6f7c.d29e4","name":"LIGHT COMMAND GALLERY DOWN 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-2-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3042,"y":1939.4764671325684,"wires":[[]]},{"id":"ac88c00d.6318e","type":"ui_switch","z":"d7ca492d.d571f8","name":"GALLERY DOWN 3","label":"LEUCHTEN UNTEN 3","group":"de928e77.f08b8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2430.333251953125,"y":2000.8097190856934,"wires":[["9742fe68.0d5a6"]]},{"id":"9742fe68.0d5a6","type":"function","z":"d7ca492d.d571f8","name":"LIGHT COMMAND GALLERY DOWN 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-3-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3043.333251953125,"y":1995.8097190856934,"wires":[[]]},{"id":"480d9ab0.942014","type":"ui_switch","z":"835feb6b.0dd878","name":"GALLERY DOWN 4","label":"LEUCHTEN UNTEN 4","group":"de928e77.f08b8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2435.333251953125,"y":2048.8097190856934,"wires":[["419bbf3e.67ccc"]]},{"id":"419bbf3e.67ccc","type":"function","z":"835feb6b.0dd878","name":"LIGHT COMMAND GALLERY DOWN 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-4-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3054.333251953125,"y":2045.8097190856934,"wires":[[]]},{"id":"32d82677.69364a","type":"ui_switch","z":"ecd85f94.d37f7","name":"GALLERY UP 1","label":"LEUCHTEN OBEN 1","group":"db2d84f4.63f278","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2383,"y":2092.4764671325684,"wires":[["12846ec4.7d17d1"]]},{"id":"12846ec4.7d17d1","type":"function","z":"ecd85f94.d37f7","name":"LIGHT COMMAND GALLERY UP 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP1-ON\";\nvar ResultOff = \"TURN-GALLERY-UP1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2716.250045776367,"y":1933.7265934944153,"wires":[[]]},{"id":"fd52fbba.1ff348","type":"ui_switch","z":"ced936b2.c2ca28","name":"GALLERY UP 2","label":"LEUCHTEN OBEN 2","group":"db2d84f4.63f278","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2089.0157775878906,"y":2122.7265224456787,"wires":[["34657bb8.32ccb4"]]},{"id":"34657bb8.32ccb4","type":"function","z":"ced936b2.c2ca28","name":"LIGHT COMMAND GALLERY UP 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP2-ON\";\nvar ResultOff = \"TURN-GALLERY-UP2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3164.015579223633,"y":2146.726706504822,"wires":[[]]},{"id":"520c1737.25db38","type":"ui_switch","z":"dca47235.8bbbf","name":"GALLERY UP 3","label":"LEUCHTEN OBEN  3","group":"db2d84f4.63f278","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1893.015712738037,"y":2164.726493835449,"wires":[["b98b5fc0.0a74d"]]},{"id":"b98b5fc0.0a74d","type":"function","z":"dca47235.8bbbf","name":"LIGHT COMMAND GALLERY UP 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP3-ON\";\nvar ResultOff = \"TURN-GALLERY-UP3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3246.0155334472656,"y":2189.726873397827,"wires":[[]]},{"id":"f223bc33.56dee","type":"ui_switch","z":"2bcf3ffd.24b1f","name":"GALLERY UP 4","label":"LEUCHTEN OBEN 4","group":"db2d84f4.63f278","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1728.0158309936523,"y":2202.726583480835,"wires":[["928ba9b2.b453f8"]]},{"id":"928ba9b2.b453f8","type":"function","z":"2bcf3ffd.24b1f","name":"LIGHT COMMAND GALLERY UP 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP4-ON\";\nvar ResultOff = \"TURN-GALLERY-UP4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3258.0155181884766,"y":2241.726589202881,"wires":[[]]},{"id":"74390229.ae16ac","type":"ui_switch","z":"afb09951.9f0598","name":"GALLERY UP 5","label":"LEUCHTEN OBEN 5","group":"db2d84f4.63f278","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1514.0156478881836,"y":2242.726587295532,"wires":[["4c2a8755.e49488"]]},{"id":"4c2a8755.e49488","type":"function","z":"afb09951.9f0598","name":"LIGHT COMMAND GALLERY UP 5","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP5-ON\";\nvar ResultOff = \"TURN-GALLERY-UP5-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3299.0155181884766,"y":2289.7265911102295,"wires":[[]]},{"id":"de3686c.d3fea78","type":"ui_switch","z":"3acad085.00a8f","name":"GALLERY UP 6","label":"LEUCHTEN OBEN 6","group":"db2d84f4.63f278","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1392.0158157348633,"y":2286.7265281677246,"wires":[["419c3a01.6a4f74"]]},{"id":"419c3a01.6a4f74","type":"function","z":"3acad085.00a8f","name":"LIGHT COMMAND GALLERY UP 6","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP6-ON\";\nvar ResultOff = \"TURN-GALLERY-UP6-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3357.0157775878906,"y":2329.726408958435,"wires":[[]]},{"id":"36b2a6f6.64f2ba","type":"ui_switch","z":"75ab26e2.0fb3d8","name":"GALLERY UP 7","label":"LEUCHTEN OBEN 7","group":"db2d84f4.63f278","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1298.0157012939453,"y":2322.7264976501465,"wires":[["e20e0f2a.5f427"]]},{"id":"e20e0f2a.5f427","type":"function","z":"75ab26e2.0fb3d8","name":"LIGHT COMMAND GALLERY UP 7","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP7-ON\";\nvar ResultOff = \"TURN-GALLERY-UP7-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3412.0155334472656,"y":2368.726643562317,"wires":[[]]},{"id":"a7d096e7.30da18","type":"ui_switch","z":"73e171c5.b4f1a","name":"GALLERY UP 8","label":"LEUCHTEN OBEN 8","group":"db2d84f4.63f278","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1196.015640258789,"y":2363.726781845093,"wires":[["65975641.2e4338"]]},{"id":"65975641.2e4338","type":"function","z":"73e171c5.b4f1a","name":"LIGHT COMMAND GALLERY UP 8","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP8-ON\";\nvar ResultOff = \"TURN-GALLERY-UP8-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3463.0155181884766,"y":2411.7264137268066,"wires":[[]]},{"id":"fd5d147e.380ea8","type":"ui_switch","z":"d3941f58.7c007","name":"GALLERY UP 9","label":"LEUCHTEN OBEN 9","group":"db2d84f4.63f278","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1066.0157165527344,"y":2425.726776123047,"wires":[["27bead7f.c18782"]]},{"id":"27bead7f.c18782","type":"function","z":"d3941f58.7c007","name":"LIGHT COMMAND GALLERY UP 9","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP9-ON\";\nvar ResultOff = \"TURN-GALLERY-UP9-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3499.015579223633,"y":2452.726414680481,"wires":[[]]},{"id":"563c891a.687e38","type":"ui_switch","z":"bbbfe026.431ed","name":"GALLERY UP 10","label":"LEUCHTEN OBEN 10","group":"db2d84f4.63f278","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":953.0157699584961,"y":2487.7266550064087,"wires":[["fe9e1f1e.39693"]]},{"id":"fe9e1f1e.39693","type":"function","z":"bbbfe026.431ed","name":"LIGHT COMMAND GALLERY UP 10","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP10-ON\";\nvar ResultOff = \"TURN-GALLERY-UP10-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3547.015579223633,"y":2495.72647857666,"wires":[[]]},{"id":"23a44516.e96aaa","type":"ui_switch","z":"3a1953b6.8f5d3c","name":"GALLERY UP 11","label":"LEUCHTEN OBEN 11","group":"db2d84f4.63f278","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":800.0158004760742,"y":2542.7267780303955,"wires":[["1322df9d.1eb32"]]},{"id":"1322df9d.1eb32","type":"function","z":"3a1953b6.8f5d3c","name":"LIGHT COMMAND GALLERY UP 11","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP11-ON\";\nvar ResultOff = \"TURN-GALLERY-UP11-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2560,"wires":[[]]},{"id":"2663462e.a5267a","type":"ui_switch","z":"a2f360ac.f69e1","name":"VORHAUS  HAUPTLICHT","label":"Haupt Licht","group":"512ec691.9e9328","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"HAUPTLICHT","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":60,"wires":[["3f684215.1419ce"]]},{"id":"3f684215.1419ce","type":"function","z":"a2f360ac.f69e1","name":"LIGHT COMMAND ANTEROOM MAIN","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MAIN-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MAIN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[[]]},{"id":"ef2269ec.63a048","type":"subflow:49773292.ddaddc","z":"c7de3ae.a942cc8","name":"BOILER","env":[],"x":500,"y":100,"wires":[[]]},{"id":"494c5732.c2dd48","type":"subflow:d6616de4.78a61","z":"8fb7fa03.56a1f8","g":"95d357e9.81b898","name":"LIGHT_WINDOW_LEDGE_EAST","x":1700,"y":260,"wires":[["432135f6.a27a1c"]]},{"id":"8a0b2c59.40781","type":"subflow:285ca3f8.d12e7c","z":"8fb7fa03.56a1f8","g":"95d357e9.81b898","name":"LIGHT_OUTSIDE","x":1650,"y":300,"wires":[["432135f6.a27a1c"]]},{"id":"b18750e5.cf0cc","type":"subflow:419c0847.3989f8","z":"8fb7fa03.56a1f8","g":"ba39a2e6.c1cb8","name":"SCENARIOS","env":[],"x":1530,"y":500,"wires":[["494c5732.c2dd48","ba3d0df2.d36cf"],["9d84bc20.ba711","24dfd1b7.2b083e"]]},{"id":"abe8d521.1d8008","type":"ui_switch","z":"b1a723f3.ae61e","name":"VORHAUS  GALLERIE BODEN","label":"SPOTS BODEN","group":"dee07cb5.a5a4c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"GALLERIE BODEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":378.0173645019531,"y":129.01040649414062,"wires":[["16619a19.05c3e6"]]},{"id":"16619a19.05c3e6","type":"function","z":"b1a723f3.ae61e","name":"LIGHT COMMAND ANTEROOM GALLERY UP","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-FLOOR-UP-ON\";\nvar ResultOff = \"TURN-LIGHT-FLOOR-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":808.1461334228516,"y":50.909400939941406,"wires":[[]]},{"id":"838c3a7c.86cac8","type":"ui_switch","z":"fe3a1a7e.6fc368","name":"BAD ALLE LICHTER","label":"Alle Lichter","group":"b79a8914.b9a6a8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"BAD","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":444.0173645019531,"y":170.01040649414062,"wires":[["89fbf838.a22918"]]},{"id":"89fbf838.a22918","type":"function","z":"fe3a1a7e.6fc368","name":"LIGHT COMMAND BATHROOM ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-BATHROOM-ALL-ON\";\nvar ResultOff = \"TURN-LIGHT-BATHROOM-ALL-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":898.1462059020996,"y":276.9093933105469,"wires":[[]]},{"id":"17bd163c.7de5aa","type":"subflow:fe3a1a7e.6fc368","z":"8fb7fa03.56a1f8","g":"95d357e9.81b898","name":"","x":1650,"y":160,"wires":[["432135f6.a27a1c"]]},{"id":"39b78950.a89946","type":"ui_switch","z":"8b0ca45a.371558","name":"WC  ALLE LICHTER","label":"Alle Lichter","group":"7ca00528.faf0dc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WC","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":415.0173645019531,"y":155.01040649414062,"wires":[["e8fb1f8d.fa34c"]]},{"id":"e8fb1f8d.fa34c","type":"function","z":"8b0ca45a.371558","name":"LIGHT COMMAND WC ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WASHROOM-ON\";\nvar ResultOff = \"TURN-LIGHT-WASHROOM-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":839.1462059020996,"y":261.9093933105469,"wires":[[]]},{"id":"28cf5a8.7d8afa6","type":"subflow:8b0ca45a.371558","z":"8fb7fa03.56a1f8","g":"95d357e9.81b898","name":"","env":[],"x":1630,"y":100,"wires":[["432135f6.a27a1c"]]},{"id":"1cc719ee.4446d6","type":"ui_switch","z":"8232c339.0fffc","name":"VORHAUS  LICHT HINTEN","label":"Licht Hinten","group":"512ec691.9e9328","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LICHT HINTEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":471.0173645019531,"y":194.01040649414062,"wires":[["b2775758.c6f108"]]},{"id":"b2775758.c6f108","type":"function","z":"8232c339.0fffc","name":"LIGHT COMMAND ANTEROOM BACK","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-BACK-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-BACK-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":915.1462059020996,"y":300.9093933105469,"wires":[[]]},{"id":"6cc27185.780e1","type":"ui_switch","z":"b3155d06.fed5a","name":"HEATER WEST","label":"Heizkörper West","group":"f19074b6.7a0d28","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":282,"y":116,"wires":[["93d87c9b.46918"]]},{"id":"93d87c9b.46918","type":"function","z":"b3155d06.fed5a","name":"HEATER WEST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-WEST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":646.4282112121582,"y":117.28568363189697,"wires":[[]]},{"id":"322fcd9b.394e82","type":"ui_switch","z":"2a932962.bf97d6","name":"HEATER EAST","label":"Heizkörper Osten","group":"f19074b6.7a0d28","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":344,"y":105,"wires":[["6fd36f9c.d9496"]]},{"id":"6fd36f9c.d9496","type":"function","z":"2a932962.bf97d6","name":"HEATER EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-EAST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":708.4282112121582,"y":106.28568363189697,"wires":[[]]},{"id":"4e5a8b3.2d62f74","type":"ui_button","z":"1c43e54b.a9816b","g":"87929ff2.5e47f","name":"GallerieOben_Ein","group":"db2d84f4.63f278","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE EIN","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":490,"y":80,"wires":[["a8bff518.b3def8"]]},{"id":"20740097.65704","type":"link in","z":"8fb7fa03.56a1f8","g":"3c37a361.87283c","name":"","links":["a8bff518.b3def8"],"x":1315,"y":480,"wires":[["a4985884.e72798"]]},{"id":"a8bff518.b3def8","type":"link out","z":"1c43e54b.a9816b","g":"87929ff2.5e47f","name":"","links":["20740097.65704"],"x":715,"y":160,"wires":[]},{"id":"b35f4277.76882","type":"ui_button","z":"1c43e54b.a9816b","g":"87929ff2.5e47f","name":"GallerieOben_Aus","group":"db2d84f4.63f278","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":490,"y":260,"wires":[["a8bff518.b3def8"]]},{"id":"7f8582c9.4aeb6c","type":"function","z":"e9402b86.634e28","name":"LIGHT COMMAND ANTEROOM MIDDLE","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MIDDLE-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MIDDLE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":543.0002517700195,"y":80,"wires":[[]]},{"id":"ca55ee0d.543b9","type":"ui_button","z":"e9402b86.634e28","name":"ANTEROOM_MIDDLE_OFF","group":"512ec691.9e9328","order":4,"width":0,"height":0,"passthru":false,"label":"Vorhaus Licht Mitte AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"ANTEROOM_MIDDLE_OFF","x":210,"y":80,"wires":[["7f8582c9.4aeb6c"]]},{"id":"ec437cb3.3a51d","type":"ui_switch","z":"95a43197.693f7","name":"HEATER BATH","label":"Heizkörper Badezimmer","group":"7ba507eb.6266e8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":580,"y":120,"wires":[["d10acfee.6791f"]]},{"id":"d10acfee.6791f","type":"function","z":"95a43197.693f7","name":"HEATER BATH ","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BATH-ON\";\nvar ResultOff = \"TURN-HEATER-BATH-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":784.4282112121582,"y":121.28568363189697,"wires":[[]]},{"id":"f232c39f.04a9e","type":"ui_switch","z":"7ba6ef0f.3e7ef","name":"PLUG-IR","label":"STECKDOSE-IRHEIZUNG","tooltip":"","group":"656f014d.31e9","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"PLUG-IR","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":80,"wires":[["e2e45183.d5b45","fad92c12.61877"]]},{"id":"e2e45183.d5b45","type":"function","z":"7ba6ef0f.3e7ef","name":"PLUG-IR","func":"var result;\nvar ResultOn  = \"POWER-PLUG-INFRA-RED-ON\";\nvar ResultOff = \"POWER-PLUG-INFRA-RED-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":80,"wires":[[]]},{"id":"f8bae1d0.e03c5","type":"subflow:7ba6ef0f.3e7ef","z":"164e890c.5f70e7","g":"8b34709.c4a569","name":"SUB_PLUG_IR","env":[],"x":600,"y":160,"wires":[["29ec632.7e5819c"]]},{"id":"29ec632.7e5819c","type":"link out","z":"164e890c.5f70e7","g":"8b34709.c4a569","name":"LINK_POWER_OUT","links":["ec753e2c.b6547"],"x":820,"y":160,"wires":[]},{"id":"ec753e2c.b6547","type":"link in","z":"8fb7fa03.56a1f8","g":"b42b6082.678c5","name":"LINK_POWER_IN","links":["29ec632.7e5819c"],"x":2115,"y":740,"wires":[["432135f6.a27a1c"]]},{"id":"cb6a3c5.ada27c","type":"ui_button","z":"e30115d2.35f808","g":"a192e738.d1f6c8","name":"HEATERSOFF","group":"656f014d.31e9","order":6,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper aus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"Alle Heizkörper aus","x":140,"y":80,"wires":[["397aed6.593d812","b7df5c2a.ad7c7"]]},{"id":"658f530b.33edac","type":"ui_button","z":"e30115d2.35f808","g":"a192e738.d1f6c8","name":"HEATERSON","group":"656f014d.31e9","order":7,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper ein","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"Alle Heizkörper ein","x":140,"y":140,"wires":[["397aed6.593d812","b7df5c2a.ad7c7"]]},{"id":"397aed6.593d812","type":"subflow:95a43197.693f7","z":"e30115d2.35f808","g":"a192e738.d1f6c8","name":"","env":[],"x":520,"y":140,"wires":[["85599bc6.fd5088"]]},{"id":"85599bc6.fd5088","type":"link out","z":"e30115d2.35f808","g":"a192e738.d1f6c8","name":"LINK_HEATERS_OUT","links":["63846fcb.30aec"],"x":780,"y":140,"wires":[]},{"id":"63846fcb.30aec","type":"link in","z":"8fb7fa03.56a1f8","g":"b42b6082.678c5","name":"LINK_HEATERS_IN","links":["85599bc6.fd5088"],"x":2115,"y":900,"wires":[["432135f6.a27a1c"]]},{"id":"a4985884.e72798","type":"link out","z":"8fb7fa03.56a1f8","g":"3c37a361.87283c","name":"LINK_CONTROL_GALLERY_UP_OUT","links":["5f46e7f5.f70308"],"x":1315,"y":540,"wires":[]},{"id":"cfba18aa.ccb0d8","type":"subflow:3a1953b6.8f5d3c","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LIGHT_GALLERY_UP_11","env":[],"x":570,"y":640,"wires":[["827de71.a9c2018"]]},{"id":"ac182557.3ff4b8","type":"subflow:bbbfe026.431ed","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LIGHT_GALLERY_UP_10","x":580,"y":580,"wires":[["827de71.a9c2018"]]},{"id":"7e5fba3c.7d0cb4","type":"subflow:d3941f58.7c007","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LIGHT_GALLERY_UP_9","x":570,"y":520,"wires":[["827de71.a9c2018"]]},{"id":"53536502.d5d33c","type":"subflow:73e171c5.b4f1a","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LIGHT_GALLERY_UP_8","x":570,"y":460,"wires":[["827de71.a9c2018"]]},{"id":"73bb6abd.fb8ab4","type":"subflow:75ab26e2.0fb3d8","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LIGHT_GALLERY_UP_7","x":570,"y":400,"wires":[["827de71.a9c2018"]]},{"id":"b6a8b72c.caa938","type":"subflow:3acad085.00a8f","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LIGHT_GALLERY_UP_6","x":570,"y":340,"wires":[["827de71.a9c2018"]]},{"id":"68f7ef5c.5fa8e","type":"subflow:afb09951.9f0598","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LIGHT_GALLERY_UP_5","x":570,"y":280,"wires":[["827de71.a9c2018"]]},{"id":"9ddba287.6b4fe","type":"subflow:ecd85f94.d37f7","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LIGHT_GALLERY_UP_1","env":[],"x":572.9845428466797,"y":49.107234954833984,"wires":[["827de71.a9c2018"]]},{"id":"bca9dfe.c18a82","type":"subflow:ced936b2.c2ca28","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LIGHT_GALLERY_UP_2","x":570,"y":100,"wires":[["827de71.a9c2018"]]},{"id":"cad444b9.bf8d48","type":"subflow:dca47235.8bbbf","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LIGHT_GALLERY_UP_3","x":570,"y":160,"wires":[["827de71.a9c2018"]]},{"id":"6f39d55c.df9f6c","type":"subflow:2bcf3ffd.24b1f","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LIGHT_GALLERY_UP_4","x":570,"y":220,"wires":[["827de71.a9c2018"]]},{"id":"5f46e7f5.f70308","type":"link in","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LINK_CONTROL_GALLERY_UP_IN","links":["a4985884.e72798"],"x":175,"y":400,"wires":[["9ddba287.6b4fe","bca9dfe.c18a82","cad444b9.bf8d48","6f39d55c.df9f6c","68f7ef5c.5fa8e","b6a8b72c.caa938","73bb6abd.fb8ab4","53536502.d5d33c","7e5fba3c.7d0cb4","ac182557.3ff4b8","cfba18aa.ccb0d8","4fc53d20.63b894","c26a3d34.e4771"]]},{"id":"827de71.a9c2018","type":"link out","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LINK_CONTROL_GALLERY_UP_TOSEND_OUT","links":["4118742d.b1b3bc"],"x":915,"y":400,"wires":[]},{"id":"4118742d.b1b3bc","type":"link in","z":"8fb7fa03.56a1f8","g":"b42b6082.678c5","name":"LINK_CONTROL_GALLERY_UP_TOSEND_IN","links":["827de71.a9c2018"],"x":2115,"y":820,"wires":[["432135f6.a27a1c"]]},{"id":"6f67a64d.40e988","type":"subflow:e24142c8.a0015","z":"f0a36d88.bb853","g":"ca06671f.bb3838","name":"LIGHT_DOOR_ENTRY_LEFT","env":[],"x":810,"y":480,"wires":[["84aa85e8.b80d98"]]},{"id":"25c12e18.581572","type":"subflow:b53d3f4f.3a801","z":"f0a36d88.bb853","g":"ca06671f.bb3838","name":"LIGHT_MAIN_DOOR","x":780,"y":160,"wires":[["84aa85e8.b80d98"]]},{"id":"f0764b75.b15698","type":"subflow:ccbc1ee4.1b64e","z":"f0a36d88.bb853","g":"ca06671f.bb3838","name":"LIGHT_WINDOW_UP_EAST","x":800,"y":260,"wires":[["84aa85e8.b80d98"]]},{"id":"9b202a9d.932a08","type":"subflow:2e3a7112.69beae","z":"f0a36d88.bb853","g":"ca06671f.bb3838","name":"LIGHT_RIGHT_NEXT_DOOR","x":810,"y":360,"wires":[["84aa85e8.b80d98"]]},{"id":"eb94cb01.99a9f8","type":"link in","z":"f0a36d88.bb853","g":"ca06671f.bb3838","name":"LINK_CONTROL_SOUTH_IN","links":["d7e0bf71.e5ab8"],"x":475,"y":300,"wires":[["25c12e18.581572","f0764b75.b15698","9b202a9d.932a08","6f67a64d.40e988"]]},{"id":"84aa85e8.b80d98","type":"link out","z":"f0a36d88.bb853","g":"ca06671f.bb3838","name":"LINK_CONTROL_TOSEND_SOUTH_OUT","links":["17fc5c8a.54a2a3"],"x":1095,"y":300,"wires":[]},{"id":"d7e0bf71.e5ab8","type":"link out","z":"8fb7fa03.56a1f8","g":"3c37a361.87283c","name":"LINK_CONTROL_TO_FLOWS_SOUTH_OUT","links":["eb94cb01.99a9f8"],"x":1315,"y":600,"wires":[]},{"id":"17fc5c8a.54a2a3","type":"link in","z":"8fb7fa03.56a1f8","g":"b42b6082.678c5","name":"LINK_CONTROL_TOSEND_SOUTH_IN","links":["84aa85e8.b80d98"],"x":2115,"y":860,"wires":[["432135f6.a27a1c"]]},{"id":"4fc53d20.63b894","type":"subflow:cf601ad6.59b548","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LIGHT_GALLERY_UP","env":[],"x":560,"y":700,"wires":[["827de71.a9c2018"]]},{"id":"c26a3d34.e4771","type":"subflow:900eb2c9.e69eb","z":"d7f47645.9f2b88","g":"54b426e6.13e5d8","name":"LIGHT_TRIANGLE_UP","x":570,"y":760,"wires":[["827de71.a9c2018"]]},{"id":"9d84bc20.ba711","type":"link out","z":"8fb7fa03.56a1f8","g":"ba39a2e6.c1cb8","name":"SCENARIO_TOFLOW_SOUTH_OUT","links":["47c9c231.07101c"],"x":1715,"y":540,"wires":[]},{"id":"47c9c231.07101c","type":"link in","z":"f0a36d88.bb853","g":"ca06671f.bb3838","name":"FROM_SCENARIO","links":["9d84bc20.ba711"],"x":475,"y":440,"wires":[["6f67a64d.40e988"]]},{"id":"8ad874a1.9ff688","type":"subflow:8232c339.0fffc","z":"b5cc7725.813278","g":"1c135763.d60359","name":"","x":600,"y":120,"wires":[["afbe7d6b.73a33"]]},{"id":"44bc5b14.1659f4","type":"subflow:a2f360ac.f69e1","z":"b5cc7725.813278","g":"1c135763.d60359","name":"ANTEROOM_MAIN_LIGHT","env":[],"x":602.4659423828125,"y":191.87314891815186,"wires":[["afbe7d6b.73a33"]]},{"id":"4fa8cb04.495e54","type":"subflow:b1a723f3.ae61e","z":"b5cc7725.813278","g":"1c135763.d60359","name":"","env":[],"x":600,"y":260,"wires":[["afbe7d6b.73a33"]]},{"id":"e81e60c.1c651a","type":"link out","z":"8fb7fa03.56a1f8","g":"22a8b717.7585d8","name":"LINK_CONTROL_TO_FLOWS_ANTROOM_OUT","links":["14ae26ab.f9a839"],"x":955,"y":160,"wires":[]},{"id":"14ae26ab.f9a839","type":"link in","z":"b5cc7725.813278","g":"1c135763.d60359","name":"LINK_CONTROL_TO_FLOWS_ANTEROOM_IN","links":["e81e60c.1c651a"],"x":275,"y":180,"wires":[["8ad874a1.9ff688","44bc5b14.1659f4","4fa8cb04.495e54"]]},{"id":"afbe7d6b.73a33","type":"link out","z":"b5cc7725.813278","g":"1c135763.d60359","name":"LINK_TOSEND_ANTEROOM_OUT","links":["d2d90ad3.bf4058"],"x":895,"y":220,"wires":[]},{"id":"d2d90ad3.bf4058","type":"link in","z":"8fb7fa03.56a1f8","g":"b42b6082.678c5","name":"LINK_TO_SEND_ANTEROOM_IN","links":["afbe7d6b.73a33"],"x":2115,"y":780,"wires":[["432135f6.a27a1c"]]},{"id":"8f379be5.126e18","type":"function","z":"55dd1022.0e731","name":"LIGHT COMMAND ALL LIGHTS WEST","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-WEST-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":120,"wires":[["e743bd8e.2fd94"]]},{"id":"53e9ea1c.bac204","type":"subflow:83928bef.552b18","z":"55dd1022.0e731","name":"LIGHT_WINDOW_LEDGE_WEST","x":800,"y":80,"wires":[["e743bd8e.2fd94"]]},{"id":"45b38533.9581dc","type":"subflow:a1c41326.3b112","z":"55dd1022.0e731","name":"LIGHT_WALL_WEST","x":760,"y":160,"wires":[["e743bd8e.2fd94"]]},{"id":"ba4bdf58.692ab","type":"subflow:d477a42.5fa2a58","z":"55dd1022.0e731","name":"LIGHT_TRIANGLE_WEST","x":780,"y":200,"wires":[["e743bd8e.2fd94"]]},{"id":"24dfd1b7.2b083e","type":"link out","z":"8fb7fa03.56a1f8","g":"ba39a2e6.c1cb8","name":"SCENARIO_ADVENTURE","links":["12ba95a6.ae65fa"],"x":1715,"y":480,"wires":[]},{"id":"5e751f82.64473","type":"link in","z":"8fb7fa03.56a1f8","g":"b42b6082.678c5","name":"LINK_WETSIDE_IN","links":["e743bd8e.2fd94"],"x":2115,"y":940,"wires":[["432135f6.a27a1c"]]},{"id":"847067fe.30b8a8","type":"link in","z":"55dd1022.0e731","name":"LINK_CONTROL_TO_FLOWS_WESTSIDE_IN","links":["a43844fc.d66af8"],"x":500,"y":140,"wires":[["53e9ea1c.bac204","8f379be5.126e18","45b38533.9581dc","ba4bdf58.692ab"]]},{"id":"a43844fc.d66af8","type":"link out","z":"8fb7fa03.56a1f8","g":"3c37a361.87283c","name":"LINK_CONTROL_TO_WESTSIDE_OUT","links":["847067fe.30b8a8"],"x":1315,"y":740,"wires":[]},{"id":"e743bd8e.2fd94","type":"link out","z":"55dd1022.0e731","name":"LINK_TO_SEND_WESTSIDE_OUT","links":["5e751f82.64473"],"x":1120,"y":140,"wires":[]},{"id":"ba3d0df2.d36cf","type":"link out","z":"8fb7fa03.56a1f8","g":"ba39a2e6.c1cb8","name":"SCENARIO_TO_FLOW_WESTSIDE","links":["9ca29f84.1b603"],"x":1715,"y":420,"wires":[]},{"id":"9ca29f84.1b603","type":"link in","z":"55dd1022.0e731","name":"LINK_FROM_SCENARIO_WESTSIDE1","links":["ba3d0df2.d36cf"],"x":495,"y":80,"wires":[["53e9ea1c.bac204"]]},{"id":"5ce580f5.971e5","type":"subflow:ec781f71.eb223","z":"efb4e41f.5c3118","g":"5d6f01d5.9a487","name":"LIGHT_KITCHENBOARD_DOWN","x":620,"y":200,"wires":[["a387a5d1.116ec8"]]},{"id":"5650df2c.d8eff","type":"subflow:fa87339b.03f96","z":"efb4e41f.5c3118","g":"5d6f01d5.9a487","name":"FRONTLIGHTS_KITCHEN","env":[],"x":620,"y":60,"wires":[["a387a5d1.116ec8"]]},{"id":"8ea74508.9597e8","type":"link in","z":"efb4e41f.5c3118","g":"5d6f01d5.9a487","name":"LINK_CONTROL_TO_KITCHEN_IN","links":["c57abe3b.5515c"],"x":380,"y":120,"wires":[["5650df2c.d8eff","5ce580f5.971e5"]]},{"id":"c57abe3b.5515c","type":"link out","z":"8fb7fa03.56a1f8","g":"3c37a361.87283c","name":"LINK_TO_KITCHEN","links":["8ea74508.9597e8"],"x":1315,"y":660,"wires":[]},{"id":"a387a5d1.116ec8","type":"link out","z":"efb4e41f.5c3118","g":"5d6f01d5.9a487","name":"LINK_SEND_TO_KITCHEN_OUT","links":["63ddc00a.ddf3a"],"x":875,"y":120,"wires":[]},{"id":"63ddc00a.ddf3a","type":"link in","z":"8fb7fa03.56a1f8","g":"b42b6082.678c5","name":"LINK_TO_SEND_KITCEN_IN","links":["a387a5d1.116ec8"],"x":2115,"y":980,"wires":[["432135f6.a27a1c"]]},{"id":"12ba95a6.ae65fa","type":"link in","z":"f0a36d88.bb853","g":"ca06671f.bb3838","name":"SCENARIO_ADVENTURE_IN","links":["24dfd1b7.2b083e"],"x":695,"y":320,"wires":[["f0764b75.b15698"]]},{"id":"cac1c177.82971","type":"function","z":"79bdf644.6d7b28","name":"LIGHT COMMAND KID CEILING","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-KIDROOM1-ON\";\nvar ResultOff = \"TURN-LIGHT-KIDROOM1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":140,"wires":[[]]},{"id":"7590bbf.3d0db44","type":"ui_switch","z":"79bdf644.6d7b28","name":"LIGHT CEILING","label":"DECKE","tooltip":"","group":"fafb137.7d4aef","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-lightbulb-o","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-lightbulb-o","offcolor":"gray","x":317.99995040893555,"y":139.9999442100525,"wires":[["cac1c177.82971"]]},{"id":"630f535d.ccef5c","type":"subflow:79bdf644.6d7b28","z":"c9aee2e7.c4e8c","g":"d1394b7f.7ea9c8","name":"","env":[],"x":680,"y":60,"wires":[["5367c22f.10961c"]]},{"id":"374ff8a6.fbd4e8","type":"link out","z":"8fb7fa03.56a1f8","g":"3c37a361.87283c","name":"LINK_TO_KID_ROOM_IN","links":["7319e64f.3fb548"],"x":1315,"y":700,"wires":[]},{"id":"7319e64f.3fb548","type":"link in","z":"c9aee2e7.c4e8c","g":"d1394b7f.7ea9c8","name":"LINK_FROM_KIDROOM_IN","links":["374ff8a6.fbd4e8"],"x":435,"y":180,"wires":[["630f535d.ccef5c","d70f5400.358018","88a17dc5.48137","49302415.7c185c","df0bf290.1ec5c"]]},{"id":"5367c22f.10961c","type":"link out","z":"c9aee2e7.c4e8c","g":"d1394b7f.7ea9c8","name":"LINK_FROM_KIDROOM_OUT","links":["f1ce07a3.6e99c8"],"x":955,"y":180,"wires":[]},{"id":"f1ce07a3.6e99c8","type":"link in","z":"8fb7fa03.56a1f8","g":"b42b6082.678c5","name":"LINK_SEND_TO_KIDROOM_IN","links":["5367c22f.10961c"],"x":2115,"y":1020,"wires":[["432135f6.a27a1c"]]},{"id":"91abe066.733d2","type":"function","z":"defe16cd.5fa118","name":"LIGHT COMMAND KID RIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-KIDROOM2-ON\";\nvar ResultOff = \"TURN-LIGHT-KIDROOM2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":60,"wires":[[]]},{"id":"46a2984e.47fc98","type":"ui_switch","z":"defe16cd.5fa118","name":"LIGHT RIGHT","label":"RECHTS","tooltip":"","group":"fafb137.7d4aef","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-lightbulb-o ","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-lightbulb-o ","offcolor":"gray","x":337.99995040893555,"y":59.99994421005249,"wires":[["91abe066.733d2"]]},{"id":"d70f5400.358018","type":"subflow:defe16cd.5fa118","z":"c9aee2e7.c4e8c","g":"d1394b7f.7ea9c8","name":"","x":670,"y":124,"wires":[["5367c22f.10961c"]]},{"id":"46f88daf.631974","type":"function","z":"487547dd.8572a8","name":"LIGHT COMMAND KID 3","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-KIDROOM3-ON\";\nvar ResultOff = \"TURN-LIGHT-KIDROOM3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":60,"wires":[[]]},{"id":"2c319f7c.5fead","type":"ui_switch","z":"487547dd.8572a8","name":"Light3","label":"MANSARDE1","tooltip":"","group":"fafb137.7d4aef","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-lightbulb-o","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-lightbulb-o","offcolor":"gray","x":227.99995040893555,"y":59.99994421005249,"wires":[["46f88daf.631974"]]},{"id":"88a17dc5.48137","type":"subflow:487547dd.8572a8","z":"c9aee2e7.c4e8c","g":"d1394b7f.7ea9c8","name":"","env":[],"x":660,"y":180,"wires":[["5367c22f.10961c"]]},{"id":"57956c4f.fc9f54","type":"function","z":"ba35875e.c75fc8","name":"LIGHT COMMAND KID 4","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-KIDROOM4-ON\";\nvar ResultOff = \"TURN-LIGHT-KIDROOM4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":40,"wires":[[]]},{"id":"14c7cdb7.c2de02","type":"ui_switch","z":"ba35875e.c75fc8","name":"Light4","label":"MANSARDE2","tooltip":"","group":"fafb137.7d4aef","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-lightbulb-o","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-lightbulb-o","offcolor":"gray","x":147.99995040893555,"y":39.99994421005249,"wires":[["57956c4f.fc9f54"]]},{"id":"49302415.7c185c","type":"subflow:ba35875e.c75fc8","z":"c9aee2e7.c4e8c","g":"d1394b7f.7ea9c8","name":"","env":[],"x":660,"y":240,"wires":[["5367c22f.10961c"]]},{"id":"99d56788.ab6c18","type":"function","z":"fa85105d.7c6bb","name":"LIGHT COMMAND KID 5","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-KIDROOM5-ON\";\nvar ResultOff = \"TURN-LIGHT-KIDROOM5-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":60,"wires":[[]]},{"id":"12031a4.89149e6","type":"ui_switch","z":"fa85105d.7c6bb","name":"Light5","label":"MANSARDE3","tooltip":"","group":"fafb137.7d4aef","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-lightbulb-o","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-lightbulb-o","offcolor":"gray","x":207.99995040893555,"y":59.99994421005249,"wires":[["99d56788.ab6c18"]]},{"id":"df0bf290.1ec5c","type":"subflow:fa85105d.7c6bb","z":"c9aee2e7.c4e8c","g":"d1394b7f.7ea9c8","name":"","env":[],"x":660,"y":300,"wires":[["5367c22f.10961c"]]},{"id":"6708a372.df164c","type":"function","z":"96b7f098.0831d","name":"Heater KID","func":"var result;\nvar ResultOn  = \"TURN-HEATER-KID-ROOM-ON\";\nvar ResultOff = \"TURN-HEATER-KID-ROOM-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":40,"wires":[[]]},{"id":"13530757.8cc259","type":"ui_switch","z":"96b7f098.0831d","name":"Heater","label":"HEIZUNG","tooltip":"","group":"36548ba9.492454","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-thermometer-full","oncolor":"orange","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-thermometer-empty","offcolor":"white","x":210,"y":40,"wires":[["6708a372.df164c"]]},{"id":"5fcbf857.c100b8","type":"subflow:96b7f098.0831d","z":"c9aee2e7.c4e8c","g":"d1394b7f.7ea9c8","name":"","env":[],"x":680,"y":360,"wires":[["5367c22f.10961c"]]},{"id":"53f5dc3f.8614e4","type":"ui_template","z":"8fb7fa03.56a1f8","group":"656f014d.31e9","name":"Clock Toolbar","order":9,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":1280,"y":40,"wires":[[]]},{"id":"2304225f.50fc4e","type":"subflow:bea63159.939a3","z":"770b00a2.ab1fc","g":"662dcaad.5a8294","name":"","x":720,"y":60,"wires":[["6e840732.d9c018"]]},{"id":"e082c321.0587a","type":"subflow:e7fba249.d0cd2","z":"770b00a2.ab1fc","g":"662dcaad.5a8294","name":"","x":720,"y":120,"wires":[["6e840732.d9c018"]]},{"id":"8b2afc91.cdcd2","type":"subflow:5e0b6f7c.d29e4","z":"770b00a2.ab1fc","g":"662dcaad.5a8294","name":"","x":720,"y":180,"wires":[["6e840732.d9c018"]]},{"id":"fd48fd2d.c4a5d","type":"subflow:d7ca492d.d571f8","z":"770b00a2.ab1fc","g":"662dcaad.5a8294","name":"","x":720,"y":240,"wires":[["6e840732.d9c018"]]},{"id":"181642dd.d0da8d","type":"subflow:835feb6b.0dd878","z":"770b00a2.ab1fc","g":"662dcaad.5a8294","name":"","x":720,"y":300,"wires":[["6e840732.d9c018"]]},{"id":"efb61c15.e1ec7","type":"link in","z":"770b00a2.ab1fc","g":"662dcaad.5a8294","name":"LINK_GALLYERY_DOWN_IN","links":["2cb0015b.d805ee"],"x":495,"y":180,"wires":[["2304225f.50fc4e","e082c321.0587a","8b2afc91.cdcd2","fd48fd2d.c4a5d","181642dd.d0da8d"]]},{"id":"6e840732.d9c018","type":"link out","z":"770b00a2.ab1fc","g":"662dcaad.5a8294","name":"LINK_GALLERY_DOWN_OUT","links":["929b81a1.ccb23"],"x":1020,"y":200,"wires":[]},{"id":"2cb0015b.d805ee","type":"link out","z":"8fb7fa03.56a1f8","g":"3c37a361.87283c","name":"","links":["efb61c15.e1ec7"],"x":1315,"y":440,"wires":[]},{"id":"929b81a1.ccb23","type":"link in","z":"8fb7fa03.56a1f8","g":"b42b6082.678c5","name":"LINK_TO_SEND_GALLERY_DOWN_OUT","links":["6e840732.d9c018"],"x":2115,"y":700,"wires":[["432135f6.a27a1c"]]},{"id":"3076211d.8b877e","type":"link in","z":"c9aee2e7.c4e8c","g":"d1394b7f.7ea9c8","name":"FROM_LINK_HEATERS","links":["b7df5c2a.ad7c7"],"x":435,"y":360,"wires":[["5fcbf857.c100b8"]]},{"id":"b7df5c2a.ad7c7","type":"link out","z":"e30115d2.35f808","g":"a192e738.d1f6c8","name":"TO_LINK_HEATER_KIDROOM","links":["3076211d.8b877e"],"x":335,"y":200,"wires":[]},{"id":"4970759e.69262c","type":"ui_button","z":"e3b59009.d7bf7","name":"ANTEROOM_MIDDLE_ON","group":"512ec691.9e9328","order":3,"width":0,"height":0,"passthru":true,"label":"Vorhaus Licht Mitte EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TURN-LIGHT-ANTEROOM-MIDDLE-ON","payloadType":"str","topic":"ANTEROOM_MIDDLE_ON","x":180,"y":80,"wires":[[]]},{"id":"c5c10277.16e8","type":"ui_button","z":"dacdedf6.b18b6","name":"ANTEROOM_MIDDLE_OFF","group":"512ec691.9e9328","order":4,"width":0,"height":0,"passthru":true,"label":"Vorhaus Licht Mitte AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TURN-LIGHT-ANTEROOM-MIDDLE-OFF","payloadType":"str","topic":"ANTEROOM_MIDDLE_OFF","x":200,"y":80,"wires":[[]]},{"id":"d1342ebb.390a4","type":"subflow:dacdedf6.b18b6","z":"8321762.4b90f88","name":"ANTROOM_MIDDLE_OFF","env":[],"x":200,"y":80,"wires":[[]]},{"id":"162082c.2cfb47d","type":"subflow:e3b59009.d7bf7","z":"8321762.4b90f88","name":"ANTEROOM_MIDDLE_ON","env":[],"x":200,"y":140,"wires":[[]]},{"id":"acebd0f9.ce50b","type":"link in","z":"b5cc7725.813278","g":"1c135763.d60359","name":"LINK_FROM_ALL_LIGHTS_IN","links":["7cd80ba3.263324"],"x":275,"y":340,"wires":[["8ce4beba.2137"]]},{"id":"7cd80ba3.263324","type":"link out","z":"8fb7fa03.56a1f8","g":"22a8b717.7585d8","name":"LINK_TO_ALL_LIGHTS_OUT","links":["acebd0f9.ce50b"],"x":960,"y":220,"wires":[]},{"id":"8ce4beba.2137","type":"subflow:8321762.4b90f88","z":"b5cc7725.813278","g":"1c135763.d60359","name":"","env":[],"x":580,"y":340,"wires":[["afbe7d6b.73a33"]]},{"id":"7f13db1e.df1894","type":"ui_switch","z":"7ba6ef0f.3e7ef","name":"PLUG-IR-AUTO","label":"STECKDOSE-IRHEIZUNG-AUTO-AUS","tooltip":"","group":"656f014d.31e9","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"PLUG-IR-AUTO","style":"","onvalue":"constants.ACTIVATE_POWER_PLUG_INFRA_RED_AUTO","onvalueType":"global","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":180,"wires":[["663083c8.8e3b9c"]]},{"id":"fad92c12.61877","type":"change","z":"7ba6ef0f.3e7ef","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":180,"wires":[["7f13db1e.df1894"]]},{"id":"663083c8.8e3b9c","type":"switch","z":"7ba6ef0f.3e7ef","name":"ACTIVATE_ONLY","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"constants.ACTIVATE_POWER_PLUG_INFRA_RED_AUTO","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":180,"wires":[["89df2f5a.22307"]]},{"id":"469cd9b5.a3d338","type":"inject","z":"164e890c.5f70e7","g":"8b34709.c4a569","name":"INITIAL_AUTO_OFF_ACTIVATED","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"constants.ACTIVATE_POWER_PLUG_INFRA_RED_AUTO","payloadType":"global","x":320,"y":160,"wires":[["f8bae1d0.e03c5"]]},{"id":"3c38d239.ecf73e","type":"inject","z":"5b6a6d96.84cd04","name":"Initial","props":[{"p":"constants","v":"{\"ACTIVATE_POWER_PLUG_INFRA_RED_AUTO\":\"ACTIVATE-POWER-PLUG-INFRA-RED-AUTO\",\"ACTIVATE_BOILER_AUTO\":\"ACTIVATE-BOILER-AUTO\"}","vt":"json"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":170,"y":100,"wires":[["2b5bf8a4.d440e8","30d6c237.6e881e"]]},{"id":"2b5bf8a4.d440e8","type":"function","z":"5b6a6d96.84cd04","name":"","func":"var Constants = global.set('Constants', msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":100,"wires":[["c28030.427f8fd"]]},{"id":"c28030.427f8fd","type":"debug","z":"5b6a6d96.84cd04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"constants.ACTIVATE_POWER_PLUG_INFRA_RED_AUTO","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":100,"wires":[]},{"id":"30d6c237.6e881e","type":"change","z":"5b6a6d96.84cd04","name":"","rules":[{"t":"move","p":"constants","pt":"msg","to":"constants","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":160,"wires":[["d8308bd0.717308"]]},{"id":"d8308bd0.717308","type":"debug","z":"5b6a6d96.84cd04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"a0153a92.45f928","type":"switch","z":"5b6a6d96.84cd04","name":"TEST_CONSTANTS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"constants.ACTIVATE_POWER_PLUG_INFRA_RED_AUTO","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":280,"wires":[["d35ab762.53d4d8"]]},{"id":"7fd1a210.688d3c","type":"change","z":"5b6a6d96.84cd04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ACTIVATE-POWER-PLUG-INFRA-RED-AUTO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":280,"wires":[["a0153a92.45f928"]]},{"id":"1d98b385.9af10c","type":"inject","z":"5b6a6d96.84cd04","name":"Initial","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":280,"wires":[["7fd1a210.688d3c"]]},{"id":"d35ab762.53d4d8","type":"debug","z":"5b6a6d96.84cd04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":280,"wires":[]},{"id":"2aa17060.713b2","type":"ui_switch","z":"49773292.ddaddc","name":"BOILER_TIMER","label":"WARMWASSER_TIMER","tooltip":"","group":"656f014d.31e9","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"constants.ACTIVATE_BOILER_AUTO","onvalueType":"global","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":120,"wires":[[]]},{"id":"30c82117.c2331e","type":"link in","z":"8fb7fa03.56a1f8","g":"b42b6082.678c5","name":"LINK_TOSEND_BOILER","links":["2a09cfc7.8eb13"],"x":2115,"y":660,"wires":[["432135f6.a27a1c"]]},{"id":"f99dd7c7.ef7988","type":"subflow:c7de3ae.a942cc8","z":"afd5bfcd.725fc","g":"38fecdb1.8af892","name":"SUB_BOILER","env":[],"x":620,"y":120,"wires":[["2a09cfc7.8eb13"]]},{"id":"2a09cfc7.8eb13","type":"link out","z":"afd5bfcd.725fc","g":"38fecdb1.8af892","name":"LINK_FROM_BOILER","links":["30c82117.c2331e"],"x":775,"y":120,"wires":[]},{"id":"e8e52e76.f9da3","type":"inject","z":"afd5bfcd.725fc","g":"38fecdb1.8af892","name":"PresetActivateTimer","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"constants.ACTIVATE_BOILER_AUTO","payloadType":"global","x":400,"y":120,"wires":[["f99dd7c7.ef7988"]]},{"id":"c5f7580e.71ba88","type":"switch","z":"49773292.ddaddc","name":"CHECK_BOILER_AUTO","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"constants.ACTIVATE_BOILER_AUTO","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":200,"wires":[["2aa17060.713b2"]]},{"id":"7c24fca2.f113c4","type":"change","z":"49773292.ddaddc","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":120,"wires":[["2aa17060.713b2"]]},{"id":"432135f6.a27a1c","type":"link out","z":"8fb7fa03.56a1f8","name":"TO_SENDER","links":["512010dc.fa6c2"],"x":2315,"y":420,"wires":[]},{"id":"512010dc.fa6c2","type":"link in","z":"8fb7fa03.56a1f8","name":"FORWARD_SENDER","links":["432135f6.a27a1c"],"x":2395,"y":420,"wires":[["74292acc.dbe4b4"]]},{"id":"74292acc.dbe4b4","type":"udp out","z":"8fb7fa03.56a1f8","name":"SENDER","addr":"192.168.0.255","iface":"","port":"10000","ipv":"udp4","outport":"9700","base64":false,"multicast":"broad","x":2500,"y":420,"wires":[]},{"id":"89df2f5a.22307","type":"switch","z":"7ba6ef0f.3e7ef","name":"ISNOTNULL","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":180,"wires":[[]]}]